.conditions-cooperation {
	// .conditions-cooperation__inner

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		@media (max-width: 75em) {
			gap: 12.8rem;
		}
		@media (max-width: 47.9375em) {
			gap: 6.4rem;
		}
	}

	// .conditions-cooperation__content-box

	&__content-box {
		display: flex;
		gap: 4.8rem;
		@media (max-width: 75em) {
			flex-direction: column-reverse;
			gap: 12.8rem;
		}
		@media (max-width: 47.9375em) {
			gap: 6.4rem;
		}
	}

	// .conditions-cooperation__img-box

	&__img-box {
		border-radius: 2rem;
		width: 87.6rem;
		min-height: 53.6rem;
		height: auto;
		flex-shrink: 0;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 75em) {
			border-radius: 4rem;
			width: 145.6rem;
			height: 89.2rem;
			min-height: unset;
		}
		@media (max-width: 47.9375em) {
			width: 71rem;
			height: 43.2rem;
			border-radius: 3.2rem;
		}
	}

	// .conditions-cooperation__text-box

	&__text-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        gap: 6rem;
		@media (max-width: 75em) {
			gap: 12.8rem;
		}
		@media (max-width: 47.9375em) {
			gap: 6.4rem;
		}
	}

	// .conditions-cooperation__title

	&__title {
		letter-spacing: 0.06em;
		@media (max-width: 75em) {
			font-size: 9.2rem;
			letter-spacing: 0.06em;
		}
		@media (max-width: 47.9375em) {
			font-size: 5.2rem;
		}
	}

	// .conditions-cooperation__list

	&__list {
		display: flex;
		flex-direction: column;
		@media (max-width: 75em) {
		}
		@media (max-width: 47.9375em) {
		}
	}

	// .conditions-cooperation__item

	&__item {
		padding: 2.4rem 0;
		display: flex;
		align-items: center;
		gap: 3.2rem;
		font-weight: 400;
		font-size: 2.4rem;
		line-height: 1.4;
		letter-spacing: 0.06rem;
		border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
		&:last-child {
			border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
			@media (max-width: 75em) {
				border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
			}
		}
		@media (max-width: 75em) {
			border-top: 0.2rem solid rgba(255, 255, 255, 0.2);
			padding: 4.8rem 0;
			gap: 6.4rem;
			font-size: 4.8rem;
		}
		@media (max-width: 47.9375em) {
			padding: 4rem 0;
			align-items: flex-start;
			gap: 4rem;
			font-size: 3.6rem;
		}
	}

	// .conditions-cooperation__item-number

	&__item-number {
		color: rgba(255, 255, 255, 0.6);
		@media (max-width: 75em) {
			font-size: 4.8rem;
		}
		@media (max-width: 47.9375em) {
			font-size: 3.6rem;
		}
	}

	// .conditions-cooperation__item-text

	&__item-text {
	}

	// .conditions-cooperation__info-list

	&__info-list {
		// display: flex;
		// justify-content: space-between;
		display: grid;
		grid-template-columns: repeat(3 , 1fr);
		gap: 4.8rem;
		@media (max-width: 75em) {
			flex-direction: column;
			display: flex;
			justify-content: space-between;
			gap: 4rem;
		}
		@media (max-width: 47.9375em) {
		}
	}

	// .conditions-cooperation__info-item

	&__info-item {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
		padding: 4rem;
		border-radius: 1.2rem;
		border: 0.1rem solid rgba(255, 255, 255, 0.2);
		min-height: 27.6rem;
		@media (max-width: 75em) {
			border: 0.2rem solid rgba(255, 255, 255, 0.2);
			border-radius: 2.4rem;
			min-height: 55.2rem;
			padding: 8rem;
			gap: 1rem;
		}
		@media (max-width: 47.9375em) {
			min-height: 40.4rem;
			padding: 4rem;
		}
	}

	// .conditions-cooperation__info-num

	&__info-num {
		@media (max-width: 75em) {
			font-size: 8rem;
		}
		@media (max-width: 47.9375em) {
			font-size: 4rem;
		}
	}

	// .conditions-cooperation__info-text

	&__info-text {
		letter-spacing: 0.06em;
		@media (max-width: 75em) {
			font-size: 4rem;
		}
		@media (max-width: 47.9375em) {
			font-size: 3.6rem;
		}
	}
}
