.designer-projects-banner {
	margin-top: 17rem;
	@media (max-width: 75em) {
		margin-top: 29.6rem;
	}
	@media (max-width: 47.9375em) {
		margin-top: 20.8rem;
	}
	// .designer-projects-banner__inner

	// .designer-projects-banner__inner

	&__inner {
		display: grid;
		grid-template-columns: 74.6rem 99.4rem;
		grid-template-rows: auto 1fr;
		gap: 4rem 6rem;
		@media (max-width: 75em) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 4.8rem;
		}
		@media (max-width: 47.9375em) {
			gap: 4rem;
		}
	}

	// .designer-projects-banner__photo-box

	&__photo-box {
		border-radius: 2rem;
		width: 74.6rem;
		height: 66.1rem;
		overflow: hidden;
		grid-row: 1/3;
		grid-column: 1/2;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 75em) {
			grid-row: 2/3;
			grid-column: 1/2;
			border-radius: 2.4rem;
			width: 145.6rem;
			height: 150.4rem;
		}
		@media (max-width: 47.9375em) {
			width: 71rem;
			height: 87.6rem;
		}
	}

	// .designer-projects-banner__title

	&__title {
		grid-row: 1/2;
		grid-column: 2/3;
		letter-spacing: 0.06em;
		text-transform: uppercase;
        font-weight: 300;
		@media (max-width: 75em) {
			grid-row: 1/2;
			grid-column: 1/2;
			font-size: 9.2rem;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            font-weight: 300;
		}
		@media (max-width: 47.9375em) {
			font-size: 8rem;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            font-weight: 300;
		}
	}

	// .designer-projects-banner__info-box

	&__info-box {
		grid-row: 2/3;
		grid-column: 2/3;
		display: flex;
		flex-direction: column;
		gap: 5.2rem;
		height: 100%;
		@media (max-width: 75em) {
			grid-row: 3/4;
			grid-column: 1/2;
			gap: 8rem;
		}
		@media (max-width: 47.9375em) {
			gap: 4rem;
		}
	}

	// .designer-projects-banner__desc

	&__desc {
		font-weight: 400;
		font-size: 2.8rem;
		line-height: 140%;
		letter-spacing: 0.1em;
		@media (max-width: 75em) {
			font-size: 4.8rem;
			letter-spacing: 0.06em;
		}
		@media (max-width: 47.9375em) {
			font-size: 3.6rem;
		}
	}

	&__btn {
		@media (max-width: 47.9375em) {
			width: 100%;
		}
	}
}
