.designers-banner {
	margin-top: 17rem;
	@media (max-width: 75em) {
		margin-top: 29.6rem;
	}
	@media (max-width: 47.9375em){
		margin-top: 20.8rem;
	}
	// .designers-banner__inner

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 10rem;
		@media (max-width: 75em) {
			gap: 12rem;
		}
	}

	// .designers-banner__title-box

	&__title-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20rem;
	}

	// .designers-banner__title

	&__title {
		font-weight: 300;
		text-transform: uppercase;
		font-size: 10rem;
		line-height: 110%;
		letter-spacing: 0.06em;
		@media (max-width: 75em) {
			font-size: 13rem;
		}
		@media (max-width: 47.9375em){
			font-size: 8rem;
		}
	}

	// .designers-banner__desc

	&__desc {
		font-weight: 300;
		line-height: 140%;
		letter-spacing: 0.06em;
		@media (max-width: 75em) {
			display: none;
		}
	}

	// .designers-banner__swiper-box

	&__swiper-box {
		display: flex;
		flex-direction: column;
		gap: 6.4rem;
		@media (max-width: 75em) {
			gap: 12rem;
		}
		@media (max-width: 47.9375em){
			gap: 6.4rem;
		}
	}

	// .designers-banner__swiper-title

	&__swiper-title {
		letter-spacing: 0.06em;
		align-self: center;
		text-transform: uppercase;
		@media (max-width: 75em) {
			align-self: flex-start;
			font-size: 9.2rem;
			letter-spacing: 0.06em;
			line-height: 110%;
		}
		@media (max-width: 47.9375em){
			font-size: 5rem;
		}
	}

	// .designers-banner__swiper-box-inner

	&__swiper-box-inner {
		@media (max-width: 75em) {
			display: flex;
			flex-direction: column;
			gap: 8rem;
		}
		@media (max-width: 47.9375em){
			gap: 4.8rem;
		}
	}

	// .designers-banner__swiper

	&__swiper {
		overflow: hidden;
		width: 100%;
	}

	// .designers-banner__swiper-wrapper

	&__swiper-wrapper {
		flex-direction: row !important;
		width: 100% !important;
		gap: 4.8rem;
		margin: 0.2rem 0;
		@media (max-width: 75em) {
			gap: 0;
		}
	}

	// .designers-banner__swiper-slide

	&__swiper-slide {
		height: auto !important;
		width: 87.6rem !important;
		&:nth-child(4n + 3),
		&:nth-child(4n + 4) {
			& .designers-banner__swiper-slide-inner {
				flex-direction: row-reverse;
				@media (max-width: 75em) {
					flex-direction: column;
				}
			}
		}

		@media (max-width: 75em) {
			width: 100% !important;
		}
	}

	// .designers-banner__swiper-slide-inner

	&__swiper-slide-inner {
		display: flex;
		gap: 4.8rem;
		height: 100% !important;
		@media (max-width: 75em) {
			flex-direction: column;
			gap: 4rem;
		}
	}

	// .designers-banner__swiper-content-box

	&__swiper-content-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
		padding: 4rem;
		border-radius: 1.2rem;
		border: 0.1rem solid rgba(255, 255, 255, 0.2);
		flex-grow: 1;
		@media (max-width: 75em) {
			min-height: 75.8rem;
			padding: 8rem;
			gap: 2rem;
			border-radius: 2.4rem;
			border: 0.2rem solid rgba(255, 255, 255, 0.2);
		}
		@media (max-width: 47.9375em){
			padding: 4rem;
			min-height: 40.4rem;
		}
	}

	// .designers-banner__swiper-content-num-box

	&__swiper-content-num-box {
		display: flex;
		justify-content: space-between;
		@media (max-width: 75em) {
		}
	}

	// .designers-banner__swiper-content-svg-box

	&__swiper-content-svg-box {
		width: 4.8rem;
		height: 4.8rem;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 75em) {
			width: 9.6rem;
			height: 9.6rem;
		}
		@media (max-width: 47.9375em){
			width: 6.4rem;
			height: 6.4rem;
		}
	}

	// .designers-banner__swiper-content-num

	&__swiper-content-num {
		color: $lightGray;
		@media (max-width: 75em) {
			font-size: 4rem;
		}
		@media (max-width: 47.9375em){
			font-size: 3.6rem;
		}
	}

	// .designers-banner__swiper-content-text

	&__swiper-content-text {
		letter-spacing: 0.06em;
		@media (max-width: 75em) {
			font-size: 4.8rem;
		}
		@media (max-width: 47.9375em){
			font-size: 3.6rem;
		}
	}

	// .designers-banner__swiper-img-box

	&__swiper-img-box {
		width: 41.4rem;
		height: 27.6rem;
		border-radius: 1.2rem;
		overflow: hidden;
		flex-shrink: 0;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 75em) {
			width: 145.6rem;
			height: 75.8rem;
			border-radius: 2.4rem;
		}
		@media (max-width: 47.9375em){
			width: 71rem;
			height: 40.4rem;
		}
	}

	// .designers-banner__swiper-pagination

	&__swiper-pagination {
		display: flex;
		justify-content: center;
		gap: 2.4rem;
		.swiper-pagination-bullet {
			margin: 0 !important;
		}
	}
}
