.news-list {
	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 6.4rem;
	}

	&__sort {
		&-head {
			display: flex;
			align-items: center;
			column-gap: 1rem;

			div {
				&:last-child {
					width: 2.4rem;
					height: 2.4rem;

					svg {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	&__body {
		margin-bottom: 8rem;
	}

	&__item {
		display: flex;
		padding-bottom: 8.8rem;
		border-bottom: 1px solid rgb(255, 255, 255, 0.2);

		&:not(:first-child) {
			border-top: 1px solid rgb(255, 255, 255, 0.2);
			padding-top: 8.8rem;
		}

		&-date {
			font-family: 'Roboto';
			font-size: 2.8rem;
			line-height: 3.92rem;
			margin-right: 18.5rem;
			color: $lightGray;
		}

		&-img {
			position: relative;
			width: 42.5rem;
			height: 42.5rem;
			border-radius: 2rem;
			overflow: hidden;
			margin-right: 6.8rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.btn__play {
				position: absolute;
				inset: 0;
				margin: auto;
				width: 6.8rem;
				height: 6.8rem;
			}
		}

		&-descr {
			max-width: 74.4rem;
		}

		&-title {
			font-family: 'Roboto';
			font-size: 2.8rem;
			line-height: 3.92rem;
			margin-bottom: 2rem;
		}

		&-text {
			display: flex;
			flex-direction: column;
			row-gap: 2rem;
			margin-bottom: 4rem;
			font-family: 'Roboto';
			font-size: 1.8rem;
			font-weight: 300;
			line-height: 2.109rem;
		}
	}

	&__more {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 3.8rem;
		margin: 0 auto;

		div {
			&:first-child {
				font-family: 'Roboto';
			}

			&:last-child {
				width: 6.8rem;
				height: 8.4rem;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}

	@media (max-width: 48em) {
		&__head {
			margin-bottom: 12rem;
		}

		&__title {
			font-size: 9.2rem;
			line-height: 10rem;
		}

		&__sort {
			&-head {
				column-gap: 2rem;

				div {
					&:first-child {
						font-size: 4rem;
						line-height: 5.6rem;
					}

					&:last-child {
						width: 4.8rem;
						height: 4.8rem;
					}
				}
			}
		}

		&__item {
			flex-direction: column;
			padding-bottom: 16rem;

			&:not(:last-child) {
				padding-top: 16rem;
			}

			&-date {
				order: 2;
				font-size: 3.6rem;
				line-height: 5rem;
				margin-bottom: 4rem;
			}

			&-img {
				order: 1;
				width: 100%;
				height: 145.6rem;
				margin-bottom: 6.4rem;

				.btn__play {
					width: 13.6rem;
					height: 13.6rem;
				}
			}

			&-descr {
				order: 3;
				max-width: none;
			}

			&-title {
				font-size: 4.8rem;
				line-height: 6.4rem;
				margin-bottom: 4rem;
			}

			&-text {
				display: none;
			}

			.btn__primary {
				width: fit-content;
				column-gap: 7.6rem;
				padding: 3.2rem 3.2rem 3.2rem 8rem;

				.btn__text {
					font-size: 4rem;
					line-height: 5.6rem;
				}

				img {
					width: 17.2rem;
					height: 13.6rem;
				}
			}
		}

		&__more {
			div {
				&:first-child {
					font-size: 4rem;
					line-height: 5.6rem;
				}

				&:last-child {
					width: 13.6rem;
					height: 16.8rem;
				}
			}
		}
	}

	@media (max-width: 24em) {
		&__head {
			flex-direction: column;
			row-gap: 6.4rem;
			align-items: flex-start;
			margin-bottom: 4rem;
		}

		&__title {
			font-size: 5.2rem;
			line-height: 5.6rem;
		}

		&__sort {
			&-head {
				div {
					&:first-child {
						font-size: 3.2rem;
						line-height: 4.4rem;
					}
				}
			}
		}

		&__body {
			margin-bottom: 10.4rem;
		}

		&__item {
			padding-bottom: 4.2rem;

			&:not(:first-child) {
				padding-top: 4rem;
			}

			&-img {
				height: 71rem;
				margin-bottom: 4rem;

				.btn__play {
					width: 9.6rem;
					height: 9.6rem;
				}
			}

			&-date {
				font-size: 3.2rem;
				line-height: 4.4rem;
				margin-bottom: 1.6rem;
			}

			&-title {
				font-size: 3.6rem;
				line-height: 5rem;
				margin-bottom: 4rem;
			}

			.btn__primary {
				width: 100%;
				column-gap: 0rem;
				justify-content: space-between;
				padding: 1.6rem 1.6rem 1.6rem 4.8rem;

				.btn__text {
					font-size: 3.6rem;
					line-height: 5rem;
				}

				img {
					width: 11.2rem;
					height: 8.8rem;
				}
			}
		}

		&__more {
			div {
				&:first-child {
					font-size: 3.6rem;
					line-height: 5rem;
				}

				&:last-child {
					width: 8.8rem;
					height: 11rem;
				}
			}
		}
	}
}
