@import '../libs/_form';
@import '../components/_popup';
@import '../components/_disigners-banner';
@import '../components/_conditions-cooperation';
@import '../components/_magazines';
@import '../components/_reviews-disigners';
@import '../components/_letters-slider';
@import '../components/_about-banner';
@import '../components/_closed-projects';
@import '../components/_application-designers';
@import '../components/_premium-approach';
@import '../components/_designer-projects-banner';
@import '../components/_designer-projects-list';
@import '../components/_cookie';
@import '../components/_to-customers-banner';
@import '../components/_reasons';
@import '../components/_theses';
