.director {
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		width: 80.9rem;
		display: flex;

		justify-content: center;
		flex-direction: column;
		&-title {
			width: 100%;
			font-weight: 300;
			font-size: 3.6rem;
			letter-spacing: 0.24rem;
			line-height: 1.2;
			text-transform: uppercase;
			text-align: center;
			padding-bottom: 4rem;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			text-align: center;
			position: relative;
			&::before {
				position: absolute;
				content: '';
				background: url(./assets/images/pages/kitchen/quotes.svg) no-repeat top/contain;
				width: 8.8rem;
				height: 6.8rem;
				z-index: -1;
				top: -3.4rem;
				left: 9rem;
			}
		}
		&-bottom {
			padding-top: 4rem;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 0.7rem;
			line-height: 1.4;
		}
		&-name {
			font-weight: 400;
			font-size: 2.8rem;
			letter-spacing: 0.4rem;
			text-align: center;
		}
		&-grade {
			font-style: italic;
			font-weight: 400;
			font-size: 1.4rem;
			letter-spacing: 0.18rem;
			text-transform: uppercase;
			text-align: center;
		}
	}
	&__img {
		width: 87.6rem;
		height: 76.8rem;
		border-radius: 1.2rem;
		overflow: hidden;
	}
}

.examples__top-title.kitchen {
	font-weight: 300;
	font-size: 3.6rem;
	line-height: 1.1;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	text-align: center;
}

.facades {
	&__container {
	}
	&__title {
		margin-bottom: 12rem;
	}
	&__list {
		display: flex;
		align-items: center;
		&-item {
			width: 25rem;
			cursor: pointer;
			margin-left: -13rem;
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 2.4rem;
			// transition: margin .3s ease,filter .5s,min-width .5s,-webkit-filter .5s;
			// -webkit-filter: brightness(50%);
			// filter: brightness(50%);
			transition: margin 2s cubic-bezier(0.2, 0.2, 0, 1.2);
			&:hover {
				margin-right: 11rem;
				.facades__list-text {
					opacity: 1;
				}
			}
			&:first-child {
				margin-left: 0;
			}
		}
		&-img {
			width: 21.3rem;
			height: 21.3rem;
			img {
				height: 100%;
			}
		}
		&-text {
			opacity: 0;
			font-size: 2rem;
			line-height: 1.4;
			letter-spacing: 0.12rem;
			text-align: center;
			transition: opacity 2s cubic-bezier(0.2, 0.2, 0, 1.2);
		}
	}
}

.manufacturers {
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 6rem;
		&-desc {
			width: 72.4rem;
			font-weight: 400;
			font-size: 2.8rem;
			line-height: 1.4;
			letter-spacing: 0.2rem;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 4.8rem;

		&-item {
			width: 56.8rem;
			height: 25.4rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-radius: 1.2rem;
			mix-blend-mode: lighten;
			img {
				width: 35rem;
				height: 19rem;
			}
			&:hover {
				mix-blend-mode: normal;
			}
		}
		&__show-more-btn {
			display: none;
		}
	}
}

.reviews {
	&__top {
		margin-bottom: 6rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-title {
		}
	}
	&__list {
		&-controls {
			margin-top: 4rem;
			display: flex;
			justify-content: space-between;
		}
	}
}

.mails {
	&__top {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-bottom: 6rem;
		&-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__list {
		&-item {
			width: 56.8rem;
			height: 52.1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-radius: 1.2rem;
		}
		&-img {
			width: 18.1rem;
			height: 19.1rem;
			margin-bottom: 2.4rem;
			img {
				height: 100%;
			}
		}
		&-title {
			width: 37.7rem;
			margin-bottom: 4rem;
			font-weight: 400;
			font-size: 2.8rem;
			line-height: 1.4;
			letter-spacing: 0.2rem;
			text-align: center;
		}
		&-link {
			display: flex;
			gap: 2.4rem;
			align-items: center;
			font-weight: 400;
			font-size: 1.8rem;
			letter-spacing: 0.16rem;
			img {
				width: 8.7rem;
				height: 6.9rem;
			}
		}
	}
	.pagination {
		width: 19.7rem;
		gap: 3rem;
		// svg {
		// 	width: 7.7rem;
		// }
	}
}

@media (max-width: 75em) {
	.director {
		&__container {
			flex-direction: column;
			gap: 9.6rem;
		}
		&__text {
			width: 100%;
			&-title {
				font-size: 7.2rem;
				letter-spacing: 0.06em;
				line-height: 130%;
				padding-bottom: 6.4rem;
				border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
				text-align: center;
				position: relative;
				&::before {
					width: 15.8rem;
					height: 13.6rem;
					top: -5rem;
					left: 16rem;
				}
			}
			&-bottom {
				padding-top: 6.4rem;
				gap: 1.6rem;
			}
			&-name {
				font-size: 4.8rem;
				letter-spacing: 0.06em;
			}
			&-grade {
				font-size: 3.2rem;
				letter-spacing: 0.16em;
			}
		}
		&__img {
			border-radius: 2.4rem;
			width: 145.4rem;
			height: 153.8rem;
		}
	}

	.facades {
		display: none;
	}

	.manufacturers {
		&__top {
			flex-direction: column;
			gap: 9.6rem;
			margin-bottom: 9.6rem;
			&-desc {
				width: 100%;
				font-size: 4rem;
				letter-spacing: 0.06em;
			}
		}
		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 4rem;

			&-item {
				width: 70.8rem;
				height: 65.6rem;
				border: 0.2 solid rgba(255, 255, 255, 0.2);
				border-radius: 2.4rem;
				img {
					width: 62.8rem;
					height: 34rem;
				}
			}
		}
		&__show-more-btn {
			display: flex;
		}
	}
}
@media (max-width: 47.9375em) {
	.director {
		&__container {
			gap: 6.4rem;
		}
		&__text {
			&-title {
				font-size: 4rem;
				padding-bottom: 6.4rem;
				letter-spacing: 0.07em;
				&::before {
					width: 8rem;
					height: 6rem;
					top: -2rem;
					left: 0;
				}
			}
			&-bottom {
			}
			&-name {
				font-size: 3.6rem;
			}
			&-grade {
				font-size: 2.8rem;
			}
		}
		&__img {
			border-radius: 1.6rem;
			width: 71rem;
			height: 75.2rem;
		}
	}
}
