.subcategory {
	margin-top: 19rem;
	&__btns {
		display: flex;
		gap: 1.8rem;
		overflow-x: auto;
		margin-bottom: 6rem;
		white-space: nowrap;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			display: none;
		}

		&--sticky {
			position: sticky;
			width: 180rem;
			margin: 0 auto 6rem;
			top: 13rem;
			z-index: 2;
		}
	}
	&__btn {
		cursor: pointer;
		padding: 1.6rem 4rem;
		border-radius: 10rem;
		background: rgb(72, 65, 62);
		letter-spacing: 0.08em;

		&.active {
			background: rgb(211, 150, 95);
		}
	}
	&__box {
		display: flex;
		gap: 4.8rem;
		margin-bottom: 3rem;
		align-items: end;
	}
	&__title {
		width: 118.7rem;
		font-weight: 300;
		font-size: 10rem;
		line-height: 110%;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	&__text {
		width: 56.5rem;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 140%;
		letter-spacing: 0.06em;

		&--tablet {
			display: none;
		}
	}
	&__img {
		height: 49.6rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 1.2rem;
		}
	}
}

.subcategory-more {
	&__title {
		text-align: center;
		margin-bottom: 10rem;
		font-size: 8rem;
		font-weight: 300;
		line-height: 8.8rem;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	&__container {
		display: flex;
		gap: 4.8rem;
		&:not(:last-of-type) {
			margin-bottom: 20rem;
		}
		&:last-of-type{
			margin-bottom: 8rem;
		}
	}
	&__left {
		flex: 1;
	}
	&__main {
		width: 87.6rem;
		height: 75.2rem;

		img {
			width: 100%;
			height: 100%;
			border-radius: 1.2rem;
		}
	}
	&__box {
		flex: 1;
		position: relative;
		overflow: hidden;
		display: flex;
    	flex-direction: column;

		&--title {
			font-weight: 400;
			font-size: 4rem;
			letter-spacing: 0.06em;
			text-transform: uppercase;
			margin-bottom: 5rem;
		}
		&--list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 4.8rem;
			row-gap: 3rem;
			margin-bottom: 3.2rem;
		}
		&--item {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;
			font-weight: 400;
			font-size: 1.8rem;
			letter-spacing: 0.08em;

			&_title {
				color: rgba(211, 150, 95, 1);
			}
		}
		&--price {
			font-weight: 300;
			font-size: 1.8rem;
			line-height: 140%;
			letter-spacing: 0.06em;
			margin-bottom: 6rem;

			p {
				display: flex;
				align-items: center;
				gap: 1rem;
			}

			span {
				font-weight: 400;
				font-size: 2.8rem;
				line-height: 140%;
				letter-spacing: 0.06em;
				color: rgba(211, 150, 95, 1);
			}
		}
		&--link {
			display: flex;
			gap: 2.4rem;
			align-items: center;
			font-weight: 400;
			font-size: 1.8rem;
			letter-spacing: 0.08em;
			margin-bottom: 6rem;
			width: fit-content;
			img {
				width: 8.6rem;
				height: 6.8rem;
				object-fit: contain;
			}
		}
		&--btns {
			display: flex;
			gap: 2rem;
			position: absolute;
			bottom: 31.7rem;
			right: 0;
		}
		&--btn {
			width: 7.6rem;
			height: 5.2rem;
			cursor: pointer;
		}
		&--swiper {
			width: 118.4rem;
			height: 24.9rem;
			// position: absolute;
			left: -30.8rem;
			overflow: hidden;
			margin-top: auto;

			img {
				border-radius: 1.2rem;
			}
		}
		&--nav {
			display: none;
		}
	}
	// &__next {
	//     cursor: pointer;
	//     display: flex;
	//     justify-content: center;
	//     align-items: center;
	//     gap: 3.8rem;
	//     font-size: 2rem;
	//     font-weight: 400;
	//     letter-spacing: 0.06em;
	//     margin-top: -12rem;

	//     img {
	//         width: 6.8rem;
	//         height: 8.6rem;
	//     }
	// }

	&__show-more-btn {
		display: flex;
		align-items: center;
		gap: 2.4rem;
		margin: 0 auto;

		@media (max-width: 75em) {
			gap: 7.6rem;
		}
		@media (max-width: 47.9375em) {
			gap: 4.4rem;
		}
		&:hover {
			.subcategory-more__show-more-img-circle {
				background: rgba(255, 255, 255, 0.5);
			}
		}
	}

	&__show-more-text {
		font-size: 2rem;
		font-weight: 400;
		line-height: 140%;
		letter-spacing: 0.06em;
		@media (max-width: 75em) {
			font-size: 4rem;
		}
		@media (max-width: 47.9375em) {
			font-size: 3.6rem;
		}
	}

	&__show-more-img-box {
		width: 6.8rem;
		height: 8.4rem;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: flex-end;
		& svg {
			position: absolute;
			top: 0;
			z-index: 1;
			width: 1.3rem;
			height: 5.4rem;
			@media (max-width: 75em) {
				width: 2.6rem;
				height: 10.8rem;
			}
			@media (max-width: 47.9375em) {
				width: 2.4rem;
				height: 9rem;
			}
		}
		@media (max-width: 75em) {
			height: 16.8rem;
			width: 13.6rem;
		}
		@media (max-width: 47.9375em) {
			width: 8.8rem;
			height: 11rem;
		}
	}
	&__show-more-img-circle {
		width: 6.8rem;
		height: 6.8rem;
		border-radius: 50%;
		backdrop-filter: blur(10.199999809265137px);
		background: rgba(255, 255, 255, 0.2);
		transition: background-color 0.3s;

		@media (max-width: 75em) {
			width: 13.6rem;
			height: 13.6rem;
		}
		@media (max-width: 47.9375em) {
			width: 8.8rem;
			height: 8.8rem;
		}
	}
}

@media (max-width: 75em) {
	.subcategory {
		margin-top: 27.4rem;
		&__btns {
			gap: 3.6rem;
			margin-bottom: 9.6rem;

			&--sticky {
				width: 145.6rem;
				margin: 0 auto 9.6rem;
				top: 20rem;
				z-index: 2;
			}
		}
		&__btn {
			padding: 3.2rem 8rem;
			border-radius: 20rem;
			font-size: 3.6rem;
		}
		&__box {
			display: block;
			gap: initial;
			margin-bottom: 4.8rem;
		}
		&__title {
			width: auto;
			font-size: 13rem;
		}
		&__text {
			width: auto;
			font-size: 3.6rem;
			display: none;

			&--tablet {
				display: block;
			}
		}
		&__img {
			height: 150.4rem;
			margin-bottom: 4.8rem;

			img {
				border-radius: 2.4rem;
			}
		}
	}

	.subcategory-more {
		&__title {
			margin-bottom: 20rem;
			font-size: 9.2rem;
		}
		&__container {
			&:not(:last-of-type) {
				margin-bottom: 32rem;
			}
			&:last-of-type {
				margin-bottom: 12rem;
			}
		}
		&__left {
			display: none;
		}
		&__box {
			display: grid;
			flex: auto;
			position: relative;
			overflow: initial;

			&--title {
				font-size: 7.2rem;
				margin-bottom: 10rem;
			}
			&--list {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 4rem;
				row-gap: 6rem;
				margin-bottom: 6.4rem;
			}
			&--item {
				gap: 0.4rem;
				font-size: 3.6rem;
			}
			&--price {
				font-size: 3.6rem;
				margin-bottom: 12rem;

				p {
					gap: 1.6rem;
				}

				span {
					font-size: 5.6rem;
				}
			}
			&--link {
				gap: 4.8rem;
				font-size: 3.6rem;
				margin-bottom: 0;

				img {
					width: 17.2rem;
					height: 13.6rem;
				}
			}
			&--btns {
				display: none;
			}
			&--swiper {
				grid-row: 2;
				width: 100%;
				height: 150.4rem;
				position: initial;
				left: auto;
				margin-bottom: 8rem;

				img {
					border-radius: 2.4rem;
				}
			}
			&--nav {
				grid-row: 3;
				display: flex;
				margin: 0 auto 10rem;
				gap: 3.2rem;

				&.swiper-pagination-bullets.swiper-pagination-horizontal {
					width: fit-content;

					.swiper-pagination-bullet {
						opacity: 0.6;
						background: rgba(255, 255, 255, 1);
						margin: 0;
						width: 2rem;
						height: 2rem;

						&-active {
							opacity: 1;
						}
					}
				}
			}
		}
		&__next {
			gap: 7.6rem;
			font-size: 4rem;
			margin-top: -16rem;

			img {
				width: 13.6rem;
				height: 16.8rem;
			}
		}
	}
}

@media (max-width: 47.9375em) {
	.subcategory {
		margin-top: 20.8rem;
		&__btns {
			margin-bottom: 8rem;

			&--sticky {
				width: 71rem;
				margin: 0 auto 8rem;
				top: 15rem;
				z-index: 2;
			}
		}
		&__btn {
			padding: 2.4rem 4.8rem;
			border-radius: 20rem;
			font-size: 3.2rem;
		}
		&__box {
			margin-bottom: 4rem;
		}
		&__title {
			font-size: 8rem;
		}
		&__text {
			font-size: 3.2rem;
		}
		&__img {
			height: 87.6rem;
			margin-bottom: 4rem;

			img {
				border-radius: 1.6rem;
			}
		}
	}

	.subcategory-more {
		&__title {
			margin-bottom: 6.4rem;
			font-size: 5.2rem;
		}
		&__container {
			&:not(:last-of-type) {
				margin-bottom: 8rem;
			}
			&:last-of-type {
				margin-bottom: 10.4rem;
			}
		}
		&__box {
			display: grid;

			&--title {
				font-size: 4rem;
				margin-bottom: 4.8rem;
			}
			&--list {
				grid-template-columns: 1fr;
				column-gap: 0;
				row-gap: 3.2rem;
				margin-bottom: 4rem;
			}
			&--item {
				gap: 0;
				font-size: 3.2rem;
			}
			&--price {
				font-size: 3.2rem;
				margin-bottom: 4.8rem;

				p {
					gap: 2.4rem;
				}

				span {
					font-size: 4rem;
				}
			}
			&--link {
				padding: 1.6rem 2.2rem 1.6rem 4.8rem;
				border-radius: 20rem;
				background-color: rgba(72, 65, 62, 1);
				gap: initial;
				justify-content: space-between;
				width: 100%;
				font-size: 3.2rem;
				margin-bottom: 0;

				img {
					width: 11.2rem;
					height: 8.8rem;
				}
			}
			&--swiper {
				height: 75.2rem;
				margin-bottom: 4.8rem;

				img {
					border-radius: 1.6rem;
				}
			}
			&--nav {
				margin: 0 auto 4.8rem;
				gap: 2.4rem;

				&.swiper-pagination-bullets.swiper-pagination-horizontal {
					.swiper-pagination-bullet {
						width: 1.6rem;
						height: 1.6rem;
					}
				}
			}
		}
		&__next {
			gap: 4.4rem;
			font-size: 3.2rem;
			margin-top: 10.4rem;

			img {
				width: 8.8rem;
				height: 11.036rem;
			}
		}
	}
}
