<section class="about-banner">
	<div class="container">
		<div class="about-banner__inner">
			<h1 class="about-banner__title h1">О нашей компании</h1>
			<div class="about-banner__content">
				<div class="about-banner__info-box">
					<p class="about-banner__text text-18-r">Наша философия — мебель как искусство, где каждый новый заказ — отдельный неповторимый проект со своей историей, шедевр, созданный лучшими специалистами уникально для своего заказчика, учитывая его анатомические особенности, увлечения и образ жизни.</p>
					<button class="about-banner__btn btn btn__primary">
						<span class="btn__text">Оставить заявку</span>
						<img src="./assets/images/icons/arrow.svg" alt="" />
					</button>
					<ul class="about-banner__list">
						<li class="about-banner__item">
							<p class="about-banner__item-num h5">+400</p>
							<p class="about-banner__item-text text-20-r">реализованных проектов</p>
						</li>
						<li class="about-banner__item">
							<p class="about-banner__item-num h5">+200</p>
							<p class="about-banner__item-text text-20-r">авторских моделей мебели</p>
						</li>
					</ul>
				</div>
				<div class="about-banner__img-box">
                    <img src="./assets/images/pages/about-company/about-company-banner.webp" alt="">
                </div>
			</div>
		</div>
	</div>
</section>
