<section class="application-promotions">
	<div class="application-promotions__container container">
		<form action="#" class="application-promotions__form" data-dev data-popup-message="#popup__success-call">
			<label class="application-promotions__label input-group">
				<span class="form__input-wrapper">
					<input class="input--name application-promotions__form-input" type="text" placeholder="Ваше имя*" data-validate data-required autocomplete="off" name="form[]" />
				</span>
				<span class="error-span">Поле заполнено неверно</span>
			</label>
			<label class="application-promotions__label input-group">
				<span class="form__input-wrapper">
					<input class="input--tel application-promotions__form-input phone-mask" type="text" placeholder="Номер телефона*" data-validate data-required="tel" autocomplete="off" name="form[]" />
				</span>
				<span class="error-span">Поле заполнено неверно</span>
			</label>
			<!-- <button type="submit" class="application-promotions__submit btn">
				<div>Оставить заявку</div>
				<div>
					<img src="./assets/images/icons/arrow.svg" alt="" />
				</div>
			</button> -->
			<button type="submit" class="application-promotions__submit btn link--arrow-right">
				<span class="application-promotions--text">Оставить заявку</span>

				<div class="reviews__link-img-box link--arrow-right-img-box">
					<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
					  </svg>
					<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
				</div>
			</button>
		</form>
	</div>
</section>
