<section class="application-designers">
	<div class="container">
		<div class="application-designers__inner">
			<form data-popup-message="#popup__success-meet" data-dev action="" class="application-designers__form-wrapper">
				<div class="application-designers__form-title-box">
					<h5 class="application-designers__form-title h5">Вы уже в пути к нам?</h5>
					<p class="application-designers__form-text text-18-r">Пожалуйста, заполните форму ниже для оформления бесплатного парковочного места</p>
				</div>

				<div class="application-designers__form-input-wrapper">
					<div class="application-designers__form-input-box">
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--name application-designers__form-input" type="text" placeholder="Ваше имя*" data-validate data-required autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--tel application-designers__form-input phone-mask" type="text" placeholder="Номер телефона*" data-validate data-required="tel" autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--mail application-designers__form-input" type="text" placeholder="E-mail*" data-validate data-required="email" autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--date application-designers__form-input" type="date" placeholder="Дата посещения (ДД.ММ.ГГ)" autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<textarea class="input--textarea" placeholder="Номер и марка машины" ></textarea>
								<span class="error-span"></span>
								<span class="hint">*Если вам нужно парковочное место</span>
							</span>
						</label>
					</div>
				</div>
				<div class="application-designers__btn-box">
					<button type="submit" class="application-designers__btn btn btn__primary">
						<span class="btn__text">Записаться на встречу</span>
						<div class="btn__svg-box">
							<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
							</svg>
							<div class="btn__svg-box-circle"></div>
						</div>

					
					</button>

					<p class="application-designers__agreement-text txt-small">Мы используем Ваши данные только для оперативной связи и никогда не передадим их третьим лицам</p>
				</div>
			</form>

			<div class="application-designers__img-box">
				<img src="./assets/images/pages/disigners/application.webp" alt="" />
			</div>
		</div>
	</div>
</section>
