<section class="application-promotions">
	<div class="application-promotions__container container">
		<form action="#" class="application-promotions__form" data-dev data-popup-message="#popup__success-call">
			<label class="application-promotions__label input-group">
				<span class="form__input-wrapper">
					<input class="input--name application-promotions__form-input" type="text" placeholder="Ваше имя" data-validate data-required autocomplete="off" name="form[]" />
				</span>
				<span class="error-span">Поле заполнено неверно</span>
			</label>
			<label class="application-promotions__label input-group">
				<span class="form__input-wrapper">
					<input class="input--tel application-promotions__form-input phone-mask" type="text" placeholder="Номер телефона" data-validate data-required="tel" autocomplete="off" name="form[]" />
				</span>
				<span class="error-span">Поле заполнено неверно</span>
			</label>
			<button type="submit" class="application-promotions__submit btn">
				<div>Оставить заявку</div>
				<div>
					<img src="./assets/images/icons/arrow.svg" alt="" />
				</div>
			</button>
		</form>
	</div>
</section>
