<section class="application-designers">
	<div class="container">
		<div class="application-designers__inner">
			<form data-popup-message="#popup__success-meet" data-dev action="" class="application-designers__form-wrapper">
				<div class="application-designers__form-title-box">
					<h5 class="application-designers__form-title h5">Вы уже в пути к нам?</h5>
					<p class="application-designers__form-text text-18-r">Пожалуйста, заполните форму ниже для оформления бесплатного парковочного места</p>
				</div>

				<div class="application-designers__form-input-wrapper">
					<div class="application-designers__form-input-box">
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--name application-designers__form-input" type="text" placeholder="Ваше имя" data-validate data-required autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--tel application-designers__form-input phone-mask" type="text" placeholder="Номер телефона" data-validate data-required="tel" autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--mail application-designers__form-input" type="text" placeholder="E-mail" data-validate data-required="email" autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--date application-designers__form-input" type="date" placeholder="Дата посещения (ДД.ММ.ГГ)" autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input type="text" class="input--textarea" placeholder="Укажите номер и марку машины , если вам нужно парковочное место" autocomplete="off" name="form[]" />
								<span class="error-span"></span>
							</span>
						</label>
					</div>
				</div>
				<div class="application-designers__btn-box">
					<button type="submit" class="application-designers__btn btn btn__primary">
						<span class="btn__text">Записаться на встречу</span>
						<img src="./assets/images/icons/arrow.svg" alt="" />
					</button>

					<p class="application-designers__agreement-text txt-small">Мы используем Ваши данные только для оперативной связи и никогда не передадим их третьим лицам</p>
				</div>
			</form>

			<div class="application-designers__img-box">
				<img src="./assets/images/pages/disigners/application.webp" alt="" />
			</div>
		</div>
	</div>
</section>
