<section class="application-designers">
	<div class="container">
		<div class="application-designers__inner">
			<div class="application-designers__img-box">
				<img src="./assets/images/pages/disigners/application.webp" alt="" />
			</div>
			<form data-popup-message="#popup__success-cooperation" data-dev action="" class="application-designers__form-wrapper">
				<div class="application-designers__form-title-box">
					<h5 class="application-designers__form-title h5">Хотите работать с нами?</h5>
					<p class="application-designers__form-text text-18-r">Оставьте заявку на сотрудничество и будьте частью нашей команды. Стань одним из авторов индивидуальных проектов мечты в MaxMalevich!</p>
				</div>

				<div class="application-designers__form-input-wrapper">
					<div class="application-designers__form-input-box">
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--name application-designers__form-input" type="text" placeholder="Ваше имя*" data-validate data-required autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--tel application-designers__form-input phone-mask" type="text" placeholder="Номер телефона*" data-validate data-required="tel" autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="input--mail application-designers__form-input" type="text" placeholder="E-mail*" data-validate data-required="email" autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<textarea class="input--textarea" placeholder="Комментарий"></textarea>
								<span class="error-span"></span> <!-- <span class="hint">*Ваш комментарий/ссылка на портфолио</span> -->
							</span>
						</label>
					</div>
					<div class="application-designers__file-box">
						<label class="application-designers__label-input-file label-input-file">
							<input class="application-designers__input-file input-file" type="file" multiple="" name="file_main" />
							<span class="application-designers__label-input-file-text-wrapper label-input-file-text-wrapper">
								<span class="application-designers__label-input-file-svg-box label-input-file-svg-box">
									<svg width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M27.9492 18.8867L20.3829 26.4531" stroke="#D3965F" stroke-width="2" stroke-linecap="square" />
										<path d="M21.1923 13.7491L24.2757 10.6657C27.4976 7.44383 32.7212 7.44384 35.943 10.6657L36.1652 10.8878C39.387 14.1097 39.387 19.3333 36.1652 22.5551L33.0817 25.6385" stroke="#D3965F" stroke-width="2" stroke-linecap="square" />
										<path d="M27.1397 31.5868L24.0563 34.6703C20.8345 37.8921 15.6109 37.8921 12.389 34.6703L12.1669 34.4481C8.94503 31.2263 8.94503 26.0027 12.1669 22.7808L15.2503 19.6974" stroke="#D3965F" stroke-width="2" stroke-linecap="square" />
									</svg>
								</span>
								<span class="application-designers__label-input-file-text-box label-input-file-text-box">
									<span class="application-designers__label-input-file-text-title label-input-file-text-title">Прикрепите дизайн-проект</span>
									<span class="application-designers__label-input-file-text-type label-input-file-text-type">JPEG, PDF, ZIP, DWG, DWT</span>
								</span>
							</span>
							<span class="error-span"></span>
						</label>
						<div class="application-designers__form-files-items form-files-items file_main"></div>
					</div>
					<div class="application-designers__form-input-box">
						<label class="application-designers__label input-group">
							<span class="form__input-wrapper">
								<input class="application-designers__form-input" type="text" placeholder="или ссылку на проект" data-validate autocomplete="off" name="form[]" />
							</span>
							<span class="error-span">Поле заполнено неверно</span>
						</label>
					</div>
				</div>
				<div class="application-designers__btn-box">
					<button type="submit" class="application-designers__btn btn btn__primary">
						<span class="btn__text">Работать с нами</span>
						<div class="btn__svg-box">
							<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
							</svg>
							<div class="btn__svg-box-circle"></div>
						</div>
					</button>

					<p class="application-designers__agreement-text txt-small">
						Нажимая «Отправить» вы подтверждаете, что согласны на
						<a href="#">обработку персональных данных</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</section>
