<section class="authors wow animate__fadeInDown">
	<div class="container">
		<h2 class="authors__title h3">авторские фасады в наших проектах</h2>
		<div class="authors__main">
			<div class="authors__selected--mob">
				<div class="swiper-wrapper">
					<div class="swiper-slide authors__selected-item">
						<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
					</div>
					<div class="swiper-slide authors__selected-item">
						<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
					</div>
					<div class="swiper-slide authors__selected-item">
						<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
					</div>
					<div class="swiper-slide authors__selected-item">
						<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
					</div>
					<div class="swiper-slide authors__selected-item">
						<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
					</div>
					<div class="swiper-slide authors__selected-item">
						<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
					</div>
					<div class="swiper-slide authors__selected-item">
						<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
					</div>
				</div>
			</div>
			<div class="authors__project">
				<div class="swiper-wrapper">
					<div class="swiper-slide authors__project-item">
						<div class="authors__project-img">
							<img src="./assets/images/pages/home/facades_big.png" alt="" />
						</div>
						<div class="authors__selected-wrapper">
							<button class="authors__selected-zoom">
								<img src="./assets/images/icons/zoom.svg" alt="" />
							</button>
							<div class="authors__selected-img--mob">
								<div class="authors__selected-img--container">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
						</div>

						<div class="authors__info">
							<a href="" class="authors__info-text">
								<h6 class="authors__info-name">Проект в ЖК Эгодом</h6>
								<span class="authors__info-price">Стоимость проекта <b>1 000 000 ₽</b> </span>
							</a>
							<a href="" class="authors__info-link link--arrow-right-img-box">
								<!-- <img src="./assets/images/icons/arrow.svg" alt="" /> -->
								<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
								</svg>
								<div class="link--arrow-right-img-circle"></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide authors__project-item">
						<div class="authors__project-img">
							<img src="./assets/images/pages/home/facades_big.png" alt="" />
						</div>
						<div class="authors__selected-wrapper">
							<button class="authors__selected-zoom">
								<img src="./assets/images/icons/zoom.svg" alt="" />
							</button>
							<div class="authors__selected-img--mob">
								<div class="authors__selected-img--container">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
						</div>
						<div class="authors__info">
							<a href="" class="authors__info-text">
								<h6 class="authors__info-name">Проект в ЖК Эгодом</h6>
								<span class="authors__info-price">Стоимость проекта <b>1 000 000 ₽</b> </span>
							</a>
							<a href="" class="authors__info-link link--arrow-right-img-box">
								<!-- <img src="./assets/images/icons/arrow.svg" alt="" /> -->
								<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
								</svg>
								<div class="link--arrow-right-img-circle"></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide authors__project-item">
						<div class="authors__project-img">
							<img src="./assets/images/pages/home/facades_big.png" alt="" />
						</div>
						<div class="authors__selected-wrapper">
							<button class="authors__selected-zoom">
								<img src="./assets/images/icons/zoom.svg" alt="" />
							</button>
							<div class="authors__selected-img--mob">
								<div class="authors__selected-img--container">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
						</div>
						<div class="authors__info">
							<a href="" class="authors__info-text">
								<h6 class="authors__info-name">Проект в ЖК Эгодом</h6>
								<span class="authors__info-price">Стоимость проекта <b>1 000 000 ₽</b> </span>
							</a>
							<a href="" class="authors__info-link link--arrow-right-img-box">
								<!-- <img src="./assets/images/icons/arrow.svg" alt="" /> -->
								<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
								</svg>
								<div class="link--arrow-right-img-circle"></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide authors__project-item">
						<div class="authors__project-img">
							<img src="./assets/images/pages/home/facades_big.png" alt="" />
						</div>
						<div class="authors__selected-wrapper">
							<button class="authors__selected-zoom">
								<img src="./assets/images/icons/zoom.svg" alt="" />
							</button>
							<div class="authors__selected-img--mob">
								<div class="authors__selected-img--container">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
						</div>
						<div class="authors__info">
							<a href="" class="authors__info-text">
								<h6 class="authors__info-name">Проект в ЖК Эгодом</h6>
								<span class="authors__info-price">Стоимость проекта <b>1 000 000 ₽</b> </span>
							</a>
							<a href="" class="authors__info-link link--arrow-right-img-box">
								<!-- <img src="./assets/images/icons/arrow.svg" alt="" /> -->
								<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
								</svg>
								<div class="link--arrow-right-img-circle"></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide authors__project-item">
						<div class="authors__project-img">
							<img src="./assets/images/pages/home/facades_big.png" alt="" />
						</div>
						<div class="authors__selected-wrapper">
							<button class="authors__selected-zoom">
								<img src="./assets/images/icons/zoom.svg" alt="" />
							</button>
							<div class="authors__selected-img--mob">
								<div class="authors__selected-img--container">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
						</div>
						<div class="authors__info">
							<a href="" class="authors__info-text">
								<h6 class="authors__info-name">Проект в ЖК Эгодом</h6>
								<span class="authors__info-price">Стоимость проекта <b>1 000 000 ₽</b> </span>
							</a>
							<a href="" class="authors__info-link link--arrow-right-img-box">
								<!-- <img src="./assets/images/icons/arrow.svg" alt="" /> -->
								<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
								</svg>
								<div class="link--arrow-right-img-circle"></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide authors__project-item">
						<div class="authors__project-img">
							<img src="./assets/images/pages/home/facades_big.png" alt="" />
						</div>
						<div class="authors__selected-wrapper">
							<button class="authors__selected-zoom">
								<img src="./assets/images/icons/zoom.svg" alt="" />
							</button>
							<div class="authors__selected-img--mob">
								<div class="authors__selected-img--container">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
						</div>
						<div class="authors__info">
							<a href="" class="authors__info-text">
								<h6 class="authors__info-name">Проект в ЖК Эгодом</h6>
								<span class="authors__info-price">Стоимость проекта <b>1 000 000 ₽</b> </span>
							</a>
							<a href="" class="authors__info-link link--arrow-right-img-box">
								<!-- <img src="./assets/images/icons/arrow.svg" alt="" /> -->
								<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
								</svg>
								<div class="link--arrow-right-img-circle"></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide authors__project-item">
						<div class="authors__project-img">
							<img src="./assets/images/pages/home/facades_big.png" alt="" />
						</div>
						<div class="authors__selected-wrapper">
							<button class="authors__selected-zoom">
								<img src="./assets/images/icons/zoom.svg" alt="" />
							</button>
							<div class="authors__selected-img--mob">
								<div class="authors__selected-img--container">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
						</div>
						<div class="authors__info">
							<a href="" class="authors__info-text">
								<h6 class="authors__info-name">Проект в ЖК Эгодом</h6>
								<span class="authors__info-price">Стоимость проекта <b>1 000 000 ₽</b> </span>
							</a>
							<a href="" class="authors__info-link link--arrow-right-img-box">
								<!-- <img src="./assets/images/icons/arrow.svg" alt="" /> -->
								<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
								</svg>
								<div class="link--arrow-right-img-circle"></div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="authors__content">
				<div class="authors__selected">
					<div class="swiper-wrapper">
						<div class="swiper-slide authors__selected-item">
							<div class="authors__selected-img">
								<div class="authors__selected-img--wrapper">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
							<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
						</div>
						<div class="swiper-slide authors__selected-item">
							<div class="authors__selected-img">
								<div class="authors__selected-img--wrapper">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
							<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
						</div>
						<div class="swiper-slide authors__selected-item">
							<div class="authors__selected-img">
								<div class="authors__selected-img--wrapper">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
							<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
						</div>
						<div class="swiper-slide authors__selected-item">
							<div class="authors__selected-img">
								<div class="authors__selected-img--wrapper">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
							</div>
							<h3 class="authors__selected-name">Фасад с эффектом “Глубокий перламутр”</h3>
						</div>
					</div>
				</div>
				<div class="authors__facades">
					<div class="authors__facades-left">
						<h5 class="authors__facades-title authors__facades-title--desktop">
							Другие фасады <br />
							в наших проектах
						</h5>
						<include src="./components/ui/navigation.html"></include>
					</div>
					<h5 class="authors__facades-title authors__facades-title--mob">Другие фасады</h5>
					<div class="authors__facades-slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide authors__facades-item">
								<div class="authors__facades-img">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
								<span class="authors__facades-name">Фасад из металла с эффектом «Градиент»</span>
							</div>
							<div class="swiper-slide authors__facades-item">
								<div class="authors__facades-img">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
								<span class="authors__facades-name">Фасад из металла с эффектом «Градиент»</span>
							</div>
							<div class="swiper-slide authors__facades-item">
								<div class="authors__facades-img">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
								<span class="authors__facades-name">Фасад из металла с эффектом «Градиент»</span>
							</div>
							<div class="swiper-slide authors__facades-item">
								<div class="authors__facades-img">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
								<span class="authors__facades-name">Фасад из металла с эффектом «Градиент»</span>
							</div>
							<div class="swiper-slide authors__facades-item">
								<div class="authors__facades-img">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
								<span class="authors__facades-name">Фасад из металла с эффектом «Градиент»</span>
							</div>
							<div class="swiper-slide authors__facades-item">
								<div class="authors__facades-img">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
								<span class="authors__facades-name">Фасад из металла с эффектом «Градиент»</span>
							</div>
							<div class="swiper-slide authors__facades-item">
								<div class="authors__facades-img">
									<img src="./assets/images/pages/home/facades_1.png" alt="" />
								</div>
								<span class="authors__facades-name">Фасад из металла с эффектом «Градиент»</span>
							</div>
						</div>
						<div class="authors__facades-pag"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
