<section class="banner">
	<div class="banner__anim">
		<div class="banner__anim-container">
			<div class="banner__anim-wrapper">
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim1.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim2.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim3.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim4.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim5.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim6.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim7.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim8.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim9.png" alt="" />
				</div>
			</div>
			<div class="banner__anim-wrapper">
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim3.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim6.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim1.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_1.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim5.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim8.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim2.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim9.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim4.png" alt="" />
				</div>
			</div>
			<div class="banner__anim-wrapper">
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim7.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim8.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim9.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim1.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim4.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim5.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim6.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim2.png" alt="" />
				</div>
				<div class="banner__anim-img">
					<img src="./assets/images/pages/home/banner_anim3.png" alt="" />
				</div>
			</div>
			<div class="banner__anim-img main">
				<img src="./assets/images/pages/home/banner_1.png" alt="" />
			</div>
		</div>
	</div>
	<div class="banner__container">
		<div class="banner__slider anim">
			<div class="swiper-wrapper">
				<div class="swiper-slide banner__slider-item">
					<div class="banner__slider-img">
						<img src="./assets/images/pages/home/banner_1.png" alt="" />
					</div>
					<div class="banner__text">
						<div class="banner__text-title">45 дней</div>
						<div class="banner__text-subtitle">максимальный срок изготовления мебели</div>
					</div>
					<div class="banner__title">
						<span>
							<span>Кухни и корпусная мебель</span>
							<div class="banner__btn"><include src="./components/ui/btn_secondary.html" data-text='{".btn__text": {"text": "Проекты"}}'></include></div
						></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
