<section class="closed-projects">
	<div class="container">
		<div class="closed-projects__inner">
			<h2 class="closed-projects__title h2">с кем мы уже закрыли множество проектов</h2>
			<div class="closed-projects__list-box">
				<ul class="closed-projects__list">
					<li class="closed-projects__item">
						<figure class="closed-projects__img-box">
							<img src="./assets/images/pages/disigners/photo-1.webp" alt="" />
						</figure>
						<div class="closed-projects__info-box">
							<p class="closed-projects__name">Иванова Светлана</p>
							<p class="closed-projects__position text-18-r">Дизайнер интерьеров</p>
							<ul class="closed-projects__socials">
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/inst.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/behance.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/pinterest.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/tg.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/whatsup.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/dzen.png" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/vk.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/web.svg" alt="" />
										</figure>
									</a>
								</li>
							</ul>
						</div>
						<a href="#" class="closed-projects__link">
							<span class="closed-projects__link-text text-18-r">Смотреть проекты</span>
							<span class="closed-projects__link-img-box">
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</span>
						</a>
					</li>

					<li class="closed-projects__item">
						<figure class="closed-projects__img-box">
							<img src="./assets/images/pages/disigners/photo-2.webp" alt="" />
						</figure>
						<div class="closed-projects__info-box">
							<p class="closed-projects__name">Сергей Сергеев</p>
							<p class="closed-projects__position text-18-r">Архитектор</p>
							<ul class="closed-projects__socials">
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/inst.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/behance.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/pinterest.svg" alt="" />
										</figure>
									</a>
								</li>
							</ul>
						</div>
						<a href="#" class="closed-projects__link">
							<span class="closed-projects__link-text text-18-r">Смотреть проекты</span>
							<span class="closed-projects__link-img-box">
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</span>
						</a>
					</li>

					<li class="closed-projects__item">
						<figure class="closed-projects__img-box">
							<img src="./assets/images/pages/disigners/photo-3.webp" alt="" />
						</figure>
						<div class="closed-projects__info-box">
							<p class="closed-projects__name">Константинова Марина</p>
							<p class="closed-projects__position text-18-r">Дизайнер интерьеров</p>
							<ul class="closed-projects__socials">
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/inst.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/behance.svg" alt="" />
										</figure>
									</a>
								</li>

								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/pinterest.svg" alt="" />
										</figure>
									</a>
								</li>
							</ul>
						</div>
						<a href="#" class="closed-projects__link">
							<span class="closed-projects__link-text text-18-r">Смотреть проекты</span>
							<span class="closed-projects__link-img-box">
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</span>
						</a>
					</li>

					<li class="closed-projects__item">
						<figure class="closed-projects__img-box">
							<img src="./assets/images/pages/disigners/photo-4.webp" alt="" />
						</figure>
						<div class="closed-projects__info-box">
							<p class="closed-projects__name">Смирнова Ольга</p>
							<p class="closed-projects__position text-18-r">Архитектор</p>
							<ul class="closed-projects__socials">
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/inst.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/behance.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/pinterest.svg" alt="" />
										</figure>
									</a>
								</li>
							</ul>
						</div>
						<a href="#" class="closed-projects__link">
							<span class="closed-projects__link-text text-18-r">Смотреть проекты</span>
							<span class="closed-projects__link-img-box">
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</span>
						</a>
					</li>

					<li class="closed-projects__item">
						<figure class="closed-projects__img-box">
							<img src="./assets/images/pages/disigners/photo-1.webp" alt="" />
						</figure>
						<div class="closed-projects__info-box">
							<p class="closed-projects__name">Иванова Светлана</p>
							<p class="closed-projects__position text-18-r">Дизайнер интерьеров</p>
							<ul class="closed-projects__socials">
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/inst.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/behance.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/pinterest.svg" alt="" />
										</figure>
									</a>
								</li>
							</ul>
						</div>
						<a href="#" class="closed-projects__link">
							<span class="closed-projects__link-text text-18-r">Смотреть проекты</span>
							<span class="closed-projects__link-img-box">
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</span>
						</a>
					</li>

					<li class="closed-projects__item">
						<figure class="closed-projects__img-box">
							<img src="./assets/images/pages/disigners/photo-2.webp" alt="" />
						</figure>
						<div class="closed-projects__info-box">
							<p class="closed-projects__name">Сергей Сергеев</p>
							<p class="closed-projects__position text-18-r">Архитектор</p>
							<ul class="closed-projects__socials">
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/inst.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/behance.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/pinterest.svg" alt="" />
										</figure>
									</a>
								</li>
							</ul>
						</div>
						<a href="#" class="closed-projects__link">
							<span class="closed-projects__link-text text-18-r">Смотреть проекты</span>
							<span class="closed-projects__link-img-box">
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</span>
						</a>
					</li>

					<li class="closed-projects__item">
						<figure class="closed-projects__img-box">
							<img src="./assets/images/pages/disigners/photo-3.webp" alt="" />
						</figure>
						<div class="closed-projects__info-box">
							<p class="closed-projects__name">Константинова Марина</p>
							<p class="closed-projects__position text-18-r">Дизайнер интерьеров</p>
							<ul class="closed-projects__socials">
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/inst.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/behance.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/pinterest.svg" alt="" />
										</figure>
									</a>
								</li>
							</ul>
						</div>
						<a href="#" class="closed-projects__link">
							<span class="closed-projects__link-text text-18-r">Смотреть проекты</span>
							<span class="closed-projects__link-img-box">
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</span>
						</a>
					</li>

					<li class="closed-projects__item">
						<figure class="closed-projects__img-box">
							<img src="./assets/images/pages/disigners/photo-4.webp" alt="" />
						</figure>
						<div class="closed-projects__info-box">
							<p class="closed-projects__name">Смирнова Ольга</p>
							<p class="closed-projects__position text-18-r">Архитектор</p>
							<ul class="closed-projects__socials">
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/inst.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/behance.svg" alt="" />
										</figure>
									</a>
								</li>
								<li class="closed-projects__socials-item">
									<a href="#" class="closed-projects__socials-link">
										<figure class="closed-projects__socials-svg-box">
											<img src="./assets/images/icons/social/pinterest.svg" alt="" />
										</figure>
									</a>
								</li>
							</ul>
						</div>
						<a href="#" class="closed-projects__link">
							<span class="closed-projects__link-text text-18-r">Смотреть проекты</span>
							<span class="closed-projects__link-img-box">
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</span>
						</a>
					</li>
				</ul>
				<button class="closed-projects__show-more-btn">
					<span class="closed-projects__show-more-text">Показать ещё</span>
					<div class="closed-projects__show-more-img-box">
						<img src="./assets/images/icons/arrow_more.svg" alt="" />

					</div>
				</button>
			</div>
		</div>
	</div>
</section>
