<section class="conditions-cooperation">
	<div class="container">
		<div class="conditions-cooperation__inner">
			<div class="conditions-cooperation__content-box">
				<figure class="conditions-cooperation__img-box">
                    <img src="./assets/images/pages/disigners/disigners-banner-3.webp" alt="">
                </figure>
				<div class="conditions-cooperation__text-box">
					<h3 class="conditions-cooperation__title h3">Условия сотрудничества</h3>
					<ul class="conditions-cooperation__list">
						<li class="conditions-cooperation__item">
							<span class="conditions-cooperation__item-number text-20-r">01</span>
							<span class="conditions-cooperation__item-text">Как правило, с 1 проекта уже работаем на постоянной основе</span>
						</li>
						<li class="conditions-cooperation__item">
							<span class="conditions-cooperation__item-number text-20-r">02</span>
							<span class="conditions-cooperation__item-text">Выплаты происходят по закрытию акта монтажных работ</span>
						</li>
					</ul>
				</div>
			</div>
			<ul class="conditions-cooperation__info-list">
				<li class="conditions-cooperation__info-item">
					<p class="conditions-cooperation__info-num h4">15%</p>
					<p class="conditions-cooperation__info-text text-20-r">Дизайнерский бонус в стоимости мебели при первом проекте</p>
				</li>
				<li class="conditions-cooperation__info-item">
					<p class="conditions-cooperation__info-num h4">20%</p>
					<p class="conditions-cooperation__info-text text-20-r">Дизайнерский бонус в стоимости мебели при втором проекте</p>
				</li>
				<li class="conditions-cooperation__info-item">
					<p class="conditions-cooperation__info-num h4">3%</p>
					<p class="conditions-cooperation__info-text text-20-r">Дизайнерский бонус просто за рекомендацию</p>
				</li>
			</ul>
		</div>
	</div>
</section>
