<section class="designer-projects-list">
	<div class="container">
		<div class="designer-projects-list__inner">
			<h2 class="designer-projects-list__title h2">Проекты дизайнера</h2>
			<div class="portfolio-list">
				<div class="portfolio-list__container">
					<div class="portfolio-list__item">
						<div class="portfolio-list__item-left">
							<div class="portfolio-list__item-name">Дизайнер проекта Лия Хаертдинова</div>
							<div class="portfolio-list__item-title h3">ПРОЕКТ ЖК УТЕСОВ</div>
							<a href="#" class="btn btn__primary">
								<span class="btn__text">Подробнее</span>
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</a>

							<include src="./components/ui/pagination.html"></include>
							<div class="portfolio-list__swiper-pagination"></div>
						</div>
						<div class="portfolio-list__item-right">
							<div class="portfolio-list__swiper">
								<div class="swiper-wrapper">
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-4.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-4.png" alt="" />
									</div>
								</div>
							</div>
							<include src="./components/ui/navigation.html"></include>
						</div>
					</div>
					<div class="portfolio-list__item">
						<div class="portfolio-list__item-left">
							<div class="portfolio-list__item-name">Дизайнер кухни Екатерина Гензель</div>
							<div class="portfolio-list__item-title h3">Кухня на попова</div>
							<a href="#" class="btn btn__primary">
								<span class="btn__text">Подробнее</span>
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</a>
							<include src="./components/ui/pagination.html"></include>
							<div class="portfolio-list__swiper-pagination"></div>
						</div>
						<div class="portfolio-list__item-right">
							<div class="portfolio-list__swiper swiper">
								<div class="swiper-wrapper">
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-4.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-4.png" alt="" />
									</div>
								</div>
							</div>
							<include src="./components/ui/navigation.html"></include>
						</div>
					</div>
					<div class="portfolio-list__item">
						<div class="portfolio-list__item-left">
							<div class="portfolio-list__item-name">Дизайнер кухни Екатерина Гензель</div>
							<div class="portfolio-list__item-title h3">ПРОЕКТ звуки тишины</div>
							<a href="#" class="btn btn__primary">
								<span class="btn__text">Подробнее</span>
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</a>
							<include src="./components/ui/pagination.html"></include>
							<div class="portfolio-list__swiper-pagination"></div>
						</div>
						<div class="portfolio-list__item-right">
							<div class="portfolio-list__swiper swiper">
								<div class="swiper-wrapper">
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-4.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-4.png" alt="" />
									</div>
								</div>
							</div>
							<include src="./components/ui/navigation.html"></include>
						</div>
					</div>
					<div class="portfolio-list__item">
						<div class="portfolio-list__item-left">
							<div class="portfolio-list__item-name">Дизайнер кухни Екатерина Гензель</div>
							<div class="portfolio-list__item-title h3">Кухня на попова</div>
							<a href="#" class="btn btn__primary">
								<span class="btn__text">Подробнее</span>
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</a>
							<include src="./components/ui/pagination.html"></include>
							<div class="portfolio-list__swiper-pagination"></div>
						</div>
						<div class="portfolio-list__item-right">
							<div class="portfolio-list__swiper swiper">
								<div class="swiper-wrapper">
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-4.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-4.png" alt="" />
									</div>
								</div>
							</div>
							<include src="./components/ui/navigation.html"></include>
						</div>
					</div>
					<div class="portfolio-list__item">
						<div class="portfolio-list__item-left">
							<div class="portfolio-list__item-name">Дизайнер проекта Лия Хаертдинова</div>
							<div class="portfolio-list__item-title h3">ПРОЕКТ ЖК УТЕСОВ</div>
							<a href="#" class="btn btn__primary">
								<span class="btn__text">Подробнее</span>
								<img src="./assets/images/icons/arrow.svg" alt="" />
							</a>
							<include src="./components/ui/pagination.html"></include>
							<div class="portfolio-list__swiper-pagination"></div>
						</div>
						<div class="portfolio-list__item-right">
							<div class="portfolio-list__swiper swiper">
								<div class="swiper-wrapper">
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-4.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-4.png" alt="" />
									</div>
								</div>
							</div>
							<include src="./components/ui/navigation.html"></include>
						</div>
					</div>
					<button class="portfolio-list__more text-20-r">
						<div>Показать ещё</div>
						<div>
							<img src="./assets/images/pages/news/news-list-more.svg" alt="" />
						</div>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
