<section class="designer-projects-list">
	<div class="container">
		<div class="designer-projects-list__inner">
			<h2 class="designer-projects-list__title h2">Проекты дизайнера</h2>
			<div class="portfolio-list">
				<div class="portfolio-list__container">
					<div class="portfolio-list__item">
						<div class="portfolio-list__item-left">
							<div class="portfolio-list__item-name">Дизайнер проекта Лия Хаертдинова</div>
							<div class="portfolio-list__item-title h3">ПРОЕКТ ЖК УТЕСОВ</div>
							<a href="#" class="btn btn__primary">
								<span class="btn__text">Подробнее</span>
								<div class="btn__svg-box">
									<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
									</svg>
									<div class="btn__svg-box-circle"></div>
								</div>
							</a>
							<include src="./components/ui/pagination.html"></include>
							<div class="portfolio-list__swiper-pagination"></div>
						</div>
						<div class="portfolio-list__item-right">
							<div class="portfolio-list__swiper">
								<div class="swiper-wrapper">
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-4.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-4.png" alt="" />
									</div>
								</div>
							</div>



							<include src="./components/ui/navigation.html"></include>
						</div>
					</div>
					<div class="portfolio-list__item">
						<div class="portfolio-list__item-left">
							<div class="portfolio-list__item-name">Дизайнер кухни Екатерина Гензель</div>
							<div class="portfolio-list__item-title h3">Кухня на попова</div>
							<a href="#" class="btn btn__primary">
								<span class="btn__text">Подробнее</span>
								<div class="btn__svg-box">
									<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
									</svg>
									<div class="btn__svg-box-circle"></div>
								</div>
							</a>
							<include src="./components/ui/pagination.html"></include>
							<div class="portfolio-list__swiper-pagination"></div>
						</div>
						<div class="portfolio-list__item-right">
							<div class="portfolio-list__swiper">
								<div class="swiper-wrapper">
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-4.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-4.png" alt="" />
									</div>
								</div>
							</div>
							<include src="./components/ui/navigation.html"></include>
						</div>
					</div>
					<div class="portfolio-list__item">
						<div class="portfolio-list__item-left">
							<div class="portfolio-list__item-name">Дизайнер кухни Екатерина Гензель</div>
							<div class="portfolio-list__item-title h3">ПРОЕКТ звуки тишины</div>
							<a href="#" class="btn btn__primary">
								<span class="btn__text">Подробнее</span>
								<div class="btn__svg-box">
									<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
									</svg>
									<div class="btn__svg-box-circle"></div>
								</div>
							</a>
							<include src="./components/ui/pagination.html"></include>
							<div class="portfolio-list__swiper-pagination"></div>
						</div>
						<div class="portfolio-list__item-right">
							<div class="portfolio-list__swiper">
								<div class="swiper-wrapper">
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-4.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-3-img-4.png" alt="" />
									</div>
								</div>
							</div>
							<include src="./components/ui/navigation.html"></include>
						</div>
					</div>
					<div class="portfolio-list__item">
						<div class="portfolio-list__item-left">
							<div class="portfolio-list__item-name">Дизайнер кухни Екатерина Гензель</div>
							<div class="portfolio-list__item-title h3">Кухня на попова</div>
							<a href="#" class="btn btn__primary">
								<span class="btn__text">Подробнее</span>
								<div class="btn__svg-box">
									<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
									</svg>
									<div class="btn__svg-box-circle"></div>
								</div>
							</a>
							<include src="./components/ui/pagination.html"></include>
							<div class="portfolio-list__swiper-pagination"></div>
						</div>
						<div class="portfolio-list__item-right">
							<div class="portfolio-list__swiper ">
								<div class="swiper-wrapper">
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-4.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-2-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-4.png" alt="" />
									</div>
								</div>
							</div>
							<include src="./components/ui/navigation.html"></include>
						</div>
					</div>
					<div class="portfolio-list__item">
						<div class="portfolio-list__item-left">
							<div class="portfolio-list__item-name">Дизайнер проекта Лия Хаертдинова</div>
							<div class="portfolio-list__item-title h3">ПРОЕКТ ЖК УТЕСОВ</div>
							<a href="#" class="btn btn__primary">
								<span class="btn__text">Подробнее</span>
								<div class="btn__svg-box">
									<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
									</svg>
									<div class="btn__svg-box-circle"></div>
								</div>
							</a>
							<include src="./components/ui/pagination.html"></include>
							<div class="portfolio-list__swiper-pagination"></div>
						</div>
						<div class="portfolio-list__item-right">
							<div class="portfolio-list__swiper">
								<div class="swiper-wrapper">
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-4.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-1.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-2.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-3.png" alt="" />
									</div>
									<div class="portfolio-list__swiper-slide swiper-slide">
										<img src="./assets/images/pages/portfolio/slider-1-img-4.png" alt="" />
									</div>
								</div>
							</div>
							<include src="./components/ui/navigation.html"></include>
						</div>
					</div>
					<!-- <button class="portfolio-list__more text-20-r">
						<div>Показать ещё</div>
						<div>
							<img src="./assets/images/pages/news/news-list-more.svg" alt="" />
						</div>
					</button> -->


					<button class="designer-projects-list__show-more-btn">
						<span class="designer-projects-list__show-more-text text-20-r">Показать ещё</span>
						<div class="designer-projects-list__show-more-img-box">
							<svg width="13" height="54" viewBox="0 0 13 54" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.25 1C7.25 0.585786 6.91421 0.25 6.5 0.25C6.08579 0.25 5.75 0.585786 5.75 1L7.25 1ZM5.96967 53.5303C6.26256 53.8232 6.73744 53.8232 7.03033 53.5303L11.8033 48.7574C12.0962 48.4645 12.0962 47.9896 11.8033 47.6967C11.5104 47.4038 11.0355 47.4038 10.7426 47.6967L6.5 51.9393L2.25736 47.6967C1.96447 47.4038 1.48959 47.4038 1.1967 47.6967C0.903806 47.9896 0.903806 48.4645 1.1967 48.7574L5.96967 53.5303ZM5.75 1L5.75 53H7.25L7.25 1L5.75 1Z" fill="white" />
							</svg>
							<div class="designer-projects-list__show-more-img-circle"></div>
						</div>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
