<section class="designers-banner">
	<div class="container">
		<div class="designers-banner__inner">
			<div class="designers-banner__title-box">
				<h1 class="designers-banner__title h1">Дизайнерам</h1>
				<p class="designers-banner__desc desktop text-18-r">Наши дизайнеры обладают исключительным чувством стиля и прекрасным вкусом, что позволяет им создавать эстетически привлекательные и функциональные пространства. Они внимательно слушают пожелания клиентов и исследуют все аспекты проекта, чтобы разработать дизайн, который отражает индивидуальность и потребности каждого клиента.</p>
			</div>

			<div class="designers-banner__swiper-box">
				<h3 class="designers-banner__swiper-title h3">Мы бережем Вашу репутацию</h3>
				<div class="designers-banner__swiper-box-inner">
					<div class="designers-banner__swiper">
						<div class="designers-banner__swiper-wrapper swiper-wrapper">
							<div class="designers-banner__swiper-slide swiper-slide">
								<div class="designers-banner__swiper-slide-inner">
									<div class="designers-banner__swiper-content-box">
										<div class="designers-banner__swiper-content-num-box">
											<figure class="designers-banner__swiper-content-svg-box">
												<img src="./assets/images/pages/disigners/disigners-banner-1.svg" alt="" />
											</figure>
											<p class="designers-banner__swiper-content-num text-20-r">01</p>
										</div>
										<p class="designers-banner__swiper-content-text text-20-r">Мы не нарушаем согласованных сроков поставки и установки мебели</p>
									</div>
									<figure class="designers-banner__swiper-img-box">
										<img src="./assets/images/pages/disigners/disigners-banner-1.webp" alt="" />
									</figure>
								</div>
							</div>
							<div class="designers-banner__swiper-slide swiper-slide">
								<div class="designers-banner__swiper-slide-inner">
									<div class="designers-banner__swiper-content-box">
										<div class="designers-banner__swiper-content-num-box">
											<figure class="designers-banner__swiper-content-svg-box">
												<img src="./assets/images/pages/disigners/disigners-banner-2.svg" alt="" />
											</figure>
											<p class="designers-banner__swiper-content-num text-20-r">02</p>
										</div>
										<p class="designers-banner__swiper-content-text text-20-r">У нас отличные условия сотрудничества</p>
									</div>
									<figure class="designers-banner__swiper-img-box">
										<img src="./assets/images/pages/disigners/disigners-banner-2.webp" alt="" />
									</figure>
								</div>
							</div>
							<div class="designers-banner__swiper-slide swiper-slide">
								<div class="designers-banner__swiper-slide-inner">
									<div class="designers-banner__swiper-content-box">
										<div class="designers-banner__swiper-content-num-box">
											<figure class="designers-banner__swiper-content-svg-box">
												<img src="./assets/images/pages/disigners/disigners-banner-3.svg" alt="" />
											</figure>
											<p class="designers-banner__swiper-content-num text-20-r">03</p>
										</div>
										<p class="designers-banner__swiper-content-text text-20-r">Изготавливаем мебель четко по Вашей визуализации</p>
									</div>
									<figure class="designers-banner__swiper-img-box">
										<img src="./assets/images/pages/disigners/disigners-banner-3.webp" alt="" />
									</figure>
								</div>
							</div>
							<div class="designers-banner__swiper-slide swiper-slide">
								<div class="designers-banner__swiper-slide-inner">
									<div class="designers-banner__swiper-content-box">
										<div class="designers-banner__swiper-content-num-box">
											<figure class="designers-banner__swiper-content-svg-box">
												<img src="./assets/images/pages/disigners/disigners-banner-4.svg" alt="" />
											</figure>
											<p class="designers-banner__swiper-content-num text-20-r">04</p>
										</div>
										<p class="designers-banner__swiper-content-text text-20-r">При возникновении рекламационной ситуации, решаем ее в течении текущего монтажа</p>
									</div>
									<figure class="designers-banner__swiper-img-box">
										<img src="./assets/images/pages/disigners/disigners-banner-4.webp" alt="" />
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="designers-banner__swiper-pagination pagination"></div>
				</div>
			</div>
		</div>
	</div>
</section>
