<section class="examples wow animate__fadeIn">
	<div class="container">
		<div class="examples__top">
			<span class="examples__top-text"
				>Работаем <br />
				<b>на заказ</b></span
			>
			<h2 class="examples__top-title h5">Кухни на заказ любой <br class="tablet">сложности и мебель по индивидуальному проекту</h2>
			<include src="./components/ui/navigation.html"></include>
		</div>
		<div class="examples__slider">
			<div class="swiper-wrapper">
				<a class="swiper-slide examples__slider-item">
					<span class="examples__slider-number">01</span>
					<img src="./assets/images/pages/home/zone/zone_1.png" alt="" />
					<span class="examples__slider-text">Детские</span>
				</a>
				<a class="swiper-slide examples__slider-item">
					<span class="examples__slider-number">01</span>

					<img src="./assets/images/pages/home/zone/zone_1.png" alt="" />
					<span class="examples__slider-text">Детские</span>
				</a>
				<a class="swiper-slide examples__slider-item">
					<span class="examples__slider-number">01</span>

					<img src="./assets/images/pages/home/zone/zone_1.png" alt="" />
					<span class="examples__slider-text">Детские</span>
				</a>
				<a class="swiper-slide examples__slider-item">
					<span class="examples__slider-number">01</span>

					<img src="./assets/images/pages/home/zone/zone_1.png" alt="" />
					<span class="examples__slider-text">Детские</span>
				</a>
				<a class="swiper-slide examples__slider-item">
					<span class="examples__slider-number">01</span>

					<img src="./assets/images/pages/home/zone/zone_1.png" alt="" />
					<span class="examples__slider-text">Детские</span>
				</a>
				<a class="swiper-slide examples__slider-item">
					<span class="examples__slider-number">01</span>

					<img src="./assets/images/pages/home/zone/zone_1.png" alt="" />
					<span class="examples__slider-text">Детские</span>
				</a>
				<a class="swiper-slide examples__slider-item">
					<span class="examples__slider-number">01</span>

					<img src="./assets/images/pages/home/zone/zone_1.png" alt="" />
					<span class="examples__slider-text">Детские</span>
				</a>
			</div>
			<div class="examples-pag"></div>
		</div>
		<div class="examples__slider-thumbs">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<span class="examples__slider-text">Детские</span>
				</div>
				<div class="swiper-slide">
					<span class="examples__slider-text">Детские</span>
				</div>
				<div class="swiper-slide">
					<span class="examples__slider-text">Детские</span>
				</div>
				<div class="swiper-slide">
					<span class="examples__slider-text">Детские</span>
				</div>
				<div class="swiper-slide">
					<span class="examples__slider-text">Детские</span>
				</div>
				<div class="swiper-slide">
					<span class="examples__slider-text">Детские</span>
				</div>
				<div class="swiper-slide">
					<span class="examples__slider-text">Детские</span>
				</div>
			</div>
		</div>
	</div>
</section>
