<!-- <section class="facades">
				<div class="facades__container container">
					<h2 class="facades__title h3">
						Наша уникальность в наших <br />
						авторских фасадах
					</h2>
					<div class="facades__list">
						<div class="swiper-wrapper">
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_1.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_2.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_3.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_4.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_5.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_6.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_7.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_8.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_9.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_10.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_11.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_1.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_2.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
							<div class="swiper-slide facades__list-item">
								<div class="facades__list-img">
									<img src="./assets/images/pages/kitchen/facades_3.png" alt="" />
								</div>
								<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
							</div>
						</div>
					</div>
				</div>
			</section> -->
<div class="subcategory__btns subcategory__btns--sticky text-18-r">
	<a class="subcategory__btn active">Авторские модели</a>
	<a class="subcategory__btn">Кухни в классическом стиле</a>
	<a class="subcategory__btn">Кухни в современном стиле</a>
	<a class="subcategory__btn">Кухни в стиле неоклассика</a>
	<a class="subcategory__btn">Кухни премиум класса</a>
</div>
<section class="facades">
	<div class="facades__container container">

		<h2 class="facades__title h3">
			Наша уникальность<br class="tablet" />
			в наших <br class="desk" />
			авторских <br class="tablet" />
			фасадах
		</h2>
		<div class="facades__list">
			<div class="swiper-wrapper">
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_3.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_4.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_5.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_3.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_1.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_2.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_3.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_4.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_5.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_3.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_1.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_3.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_4.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
				<div class="swiper-slide facades__list-item">
					<div class="facades__list-item-inner">
						<div class="facades__list-img">
							<img src="./assets/images/pages/kitchen/facades_5.png" alt="" />
						</div>
						<span class="facades__list-text"> Фасад из металла с эффектом «Градиент» </span>
					</div>
				</div>
			</div>
		</div>
		<div class="facades__swiper-pagination pagination"></div>
	</div>
</section>
