<section class="feedback wow animate__fadeIn">
    <div class="container">
        <h2 class="feedback__title h3">Обратная связь</h2>
        <div class="feedback__wrapper">
            <div class="feedback__img">
                <img src="./assets/images/pages/home/feedback.png" alt="" />
            </div>
            <div class="feedback__content">
                <div class="feedback__info">
                    <h5 class="feedback__info-title h5">Пришлите нам дизайн-проект</h5>
                    <div class="feedback__info-wrapper mt-40">
                        <span class="feedback__info-text">Мы внимательно изучим их. Свяжемся с вами, расскажем, чем сможем помочь в реализации проекта. Рассчитаем примерную стоимость реализации проекта</span>
                        <!-- <include src="./components/ui/btn_primary.html"></include> -->
                        <button class="btn btn__primary" data-popup="#popup__project">
                            <span class="btn__text">Отправить проект</span>
                            <div class="btn__svg-box">
                                <svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
                                  </svg>
                                <div class="btn__svg-box-circle"></div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="feedback__info">
                    <h5 class="feedback__info-title h5">Приезжайте к нам на встречу-презентацию в шоуруме</h5>
                    <div class="feedback__info-text paragraphs">
                        <span class="feedback__info-text--paragraph">
                            Самый лучший вариант - встретиться в шоуруме, обсудить и разработать проект лично <br />
                            со своим заказчиком. Мы очень рады гостям и с теплотой <br />
                            и заботой проводим каждую встречу!
                        </span>
                        <span class="feedback__info-text--paragraph"> Мы расположились удобно для всех и у нас есть собственная парковка. </span>
                    </div>

                    <div class="feedback__info-wrapper">
                        <span class="feedback__info-placeholder">Бизнес-квартал «Арма», м. Курская</span>

                        <!-- <include src="./components/ui/btn_primary.html"></include> -->
                        <button class="btn btn__primary" data-popup="#popup__meet">
                            <span class="btn__text">Записаться на встречу</span>
                            <div class="btn__svg-box">
                                <svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
                                  </svg>
                                <div class="btn__svg-box-circle"></div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>