<footer class="footer">
	<div class="container footer__container">
		<div class="footer__main">
			<a href="" class="footer__logo">
				<img src="../assets/images/logo.png" alt="" />
			</a>

			<div class="footer__info">
				<a href="" class="footer__info-item">+7 (000) 000 00 00</a>
				<a href="" class="footer__info-item">maxmalevich@mail.ru</a>
				<a href="" class="footer__info-item">Москва, Нижний Сусальный пер, д.5 стр.12 оф.8</a>
			</div>

			<div class="footer__social">
				<a href="" class="footer__social-link">
					<img src="../assets/images/icons/social/tg.svg" alt="" />
				</a>
				<a href="" class="footer__social-link">
					<img src="../assets/images/icons/social/whatsup.svg" alt="" />
				</a>
				<a href="" class="footer__social-link">
					<img src="../assets/images/icons/social/inst.svg" alt="" />
				</a>
				<a href="" class="footer__social-link">
					<img src="../assets/images/icons/social/tg.svg" alt="" />
				</a>
				<a href="" class="footer__social-link">
					<img src="../assets/images/icons/social/tg.svg" alt="" />
				</a>
			</div>
		</div>
		<nav class="footer__navigation">
			<ul class="footer__menu links">
				<li class="footer__menu-link"><a href="">Портфолио</a></li>
				<li class="footer__menu-link"><a href="">О нас</a></li>
				<li class="footer__menu-link"><a href="">Дизайнерам и архитекторам</a></li>
				<li class="footer__menu-link"><a href="">Заказчикам</a></li>
				<li class="footer__menu-link"><a href="">Контакты</a></li>
			</ul>
			<ul class="footer__menu">
				<h6 class="footer__menu-category">Кухни</h6>
				<li class="footer__menu-link"><a href="">Авторские модели</a></li>
				<li class="footer__menu-link"><a href="">Кухни в классическом стилес</a></li>
				<li class="footer__menu-link"><a href="">Кухни в современном стиле</a></li>
				<li class="footer__menu-link"><a href="">Кухни в стиле неоклассика</a></li>
				<li class="footer__menu-link"><a href="">Кухни премиум класса</a></li>
			</ul>
			<ul class="footer__menu">
				<h6 class="footer__menu-category">Мебель</h6>
				<li class="footer__menu-link"><a href="">Гардеробные</a></li>
				<li class="footer__menu-link"><a href="">Детская мебель</a></li>
				<li class="footer__menu-link"><a href="">Комплекс обстановки</a></li>
				<li class="footer__menu-link"><a href="">Мебель для ванных комнат</a></li>
				<li class="footer__menu-link"><a href="">Шкафы на заказ</a></li>
			</ul>
		</nav>
	</div>
</footer>
