<section class="furniture">
	<div class="container">
		<h2 class="furniture__title h3"><span>корпусная</span> <span> мебель</span></h2>
		<div class="furniture__slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для загородного дома</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_1.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для офиса</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_2.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для квартиры</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_3.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для квартиры</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_4.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для загородного дома</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_1.png" alt="" />
					</div>
				</div>

				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для загородного дома</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_1.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для загородного дома</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_1.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для загородного дома</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_1.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="furniture__slider-bottom">
			<div class="pagination">
				<span class="pagination__number pag-cur">01</span>

				<svg width="77" height="2" viewBox="0 0 77 2" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line y1="0.8" x2="77" y2="0.8" stroke="white" stroke-opacity="0.2" stroke-width="1.4" />
					<path d="M0 1H27" stroke="#D3965F" stroke-width="1.4" />
				</svg>
				<span class="pagination__number pag-last">03</span>
			</div>
			<include src="./components/ui/navigation.html"></include>
			<!-- <include src="./components/ui/btn_primary.html"></include> -->
			<a href="#" class="btn btn__primary">
				<span class="btn__text">Оставить заявку</span>
				<div class="btn__svg-box">
					<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
					  </svg>
					<div class="btn__svg-box-circle"></div>
				</div>
			</a>
		</div>
	</div>
</section>
