<section class="furniture">
	<div class="container">
		<h2 class="furniture__title h3"><span>корпусная</span> <span> мебель</span></h2>
		<div class="furniture__slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для загородного дома</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_1.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для офиса</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_2.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для квартиры</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_3.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для квартиры</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_4.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для загородного дома</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_1.png" alt="" />
					</div>
				</div>

				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для загородного дома</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_1.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для загородного дома</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_1.png" alt="" />
					</div>
				</div>
				<div class="swiper-slide">
					<h5 class="furniture__slider-text h5">Для загородного дома</h5>
					<div class="furniture__slider-img">
						<img src="./assets/images/pages/home/furniture_1.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="furniture__slider-bottom">
			<include src="./components/ui/pagination.html"></include>
			<include src="./components/ui/btn_primary.html"></include>
		</div>
	</div>
</section>
