<header class="header">
	<div class="container">
		<div class="header__container">
			<div class="header-wrapper">
				<a href="./home.html" class="header__logo">
					<img src="../assets/images/logo.png" alt="" />
				</a>
				<nav class="header__navigation">
					<ul class="header__menu">
						<li class="header__menu-link" data-menu="kitchen"><button>Кухни</button></li>
						<li class="header__menu-link" data-menu="furniture"><button>Мебель</button></li>
						<li class="header__menu-link"><a href="">Портфолио</a></li>
						<li class="header__menu-link"><a href="">Новости</a></li>
						<li class="header__menu-link"><a href="">Дизайнерам</a></li>
						<li class="header__menu-link"><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div class="header__phone">
					<div class="header__phone-icon">
						<img src="../assets/images/icons/phone.svg" alt="" />
					</div>
					<a href="tel:+79001111111" class="btn__tel">
						<span class="btn__text">Заказать звонок</span>
						<img src="./assets/images/icons/rect.svg" alt="" />
					</a>
				</div>
			</div>
			<div class="header__bottom">
				<div class="header__bottom-wrapper kitchen">
					<ul class="header__list">
						<li class="header__list-option">
							<a href=""><span>Все кухни</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Авторские модели кухонь</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в классическом стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в современном стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в стиле неоклассика</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни премиум класса</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
					</ul>
					<div class="header__imgs">
						<div class="header__imgs-item">
							<img src="../assets/images/header_1.png" alt="" />
						</div>
						<div class="header__imgs-item">
							<img src="../assets/images/header_2.png" alt="" />
						</div>
						<div class="header__imgs-item">
							<img src="../assets/images/header_3.png" alt="" />
						</div>
					</div>
				</div>
				<div class="header__bottom-wrapper furniture">
					<ul class="header__list">
						<li class="header__list-option">
							<a href=""><span>Все кухни</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Авторские модели кухонь</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в классическом стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в современном стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в стиле неоклассика</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни премиум класса</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
					</ul>
					<div class="header__imgs">
						<div class="header__imgs-item">
							<img src="../assets/images/header_1.png" alt="" />
						</div>
						<div class="header__imgs-item">
							<img src="../assets/images/header_2.png" alt="" />
						</div>
						<div class="header__imgs-item">
							<img src="../assets/images/header_3.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header__mob">
			<div class="container">
				<div class="header__inner">
					<div class="header__top">
						<div class="burger-menu">
							<a href="" class="burger-menu_button">
								<spun class="burger-menu_lines"></spun>
							</a>

							<div class="burger-menu_overlay"></div>
						</div>
						<div class="header__top-logo">
							<img src="../assets/images/logo.png" alt="" />
						</div>
						<div class="header__top-phone">
							<img src="../assets/images/icons/phone.svg" alt="" />
						</div>
					</div>
					<nav class="header__inner-menu">
						<div class="header__inner-main">
							<a href="#section-1" class="burger-menu_link">Кухни</a>
							<a href="#section-2" class="burger-menu_link">Мебель</a>
							<a href="#section-3" class="burger-menu_link">Портфолио</a>
							<a href="#section-4" class="burger-menu_link">О нас</a>
							<a href="#section-5" class="burger-menu_link">Дизайнерам и архитекторам</a>
							<a href="#section-5" class="burger-menu_link">Заказчикам</a>
							<a href="#section-5" class="burger-menu_link">Контакты</a>
						</div>
						<div class="header__inner-bottom">
							<div class="header__call">
								<div class="header__call-icon">
									<img src="../assets/images/icons/phone.svg" alt="" />
								</div>
								<div class="header__call-text">
									<span>Заказать звонок</span>
									<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="5.65674" y="-0.156738" width="8" height="8" rx="1" transform="rotate(45 5.65674 -0.156738)" fill="#D3965F" />
									</svg>
								</div>
							</div>
							<div class="header__social">
								<div class="header__social-item">
									<img src="../assets/images/icons/social/tg.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/whatsup.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/inst.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/behance.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/facebook.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/vk.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/icon.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/pinterest.svg" alt="" />
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
