<header class="header no-tran">
	<div class="container">
		<div class="header__container">
			<div class="header-wrapper">
				<a href="./home.html" class="header__logo">
					<img src="../assets/images/logo.png" alt="" />
				</a>
				<nav class="header__navigation">
					<ul class="header__menu">
						<li class="header__menu-link" data-menu="kitchen"><a href="">Кухни</a></li>
						<li class="header__menu-link" data-menu="furniture"><a href="">Мебель</a></li>
						<li class="header__menu-link"><a href="">Портфолио</a></li>
						<li class="header__menu-link"><a href="">О компании</a></li>
						<li class="header__menu-link"><a href="">Дизайнерам</a></li>
						<li class="header__menu-link"><a href="">Контакты</a></li>
						<li class="header__menu-link"><a href="">Акции</a></li>
					</ul>
				</nav>
				<div class="header__phone">
					<div class="header__phone-icon">
						<img src="../assets/images/icons/phone.svg" alt="" />
					</div>
					<a href="tel:+79001111111" class="btn__tel">
						<span class="btn__text">Заказать звонок</span>
						<img src="./assets/images/icons/rect.svg" alt="" />
					</a>
				</div>
			</div>
			<div class="header__bottom">
				<div class="header__bottom-wrapper kitchen">
					<ul class="header__list">
						<li class="header__list-option">
							<a href=""><span>Все кухни</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Авторские модели кухонь</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в классическом стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в современном стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в стиле неоклассика</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни премиум класса</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
					</ul>
					<div class="header__imgs">
						<div class="header__imgs-item">
							<img src="../assets/images/header_1.png" alt="" />
						</div>
						<div class="header__imgs-item">
							<img src="../assets/images/header_2.png" alt="" />
						</div>
						<div class="header__imgs-item">
							<img src="../assets/images/header_3.png" alt="" />
						</div>
					</div>
				</div>
				<div class="header__bottom-wrapper furniture">
					<ul class="header__list">
						<li class="header__list-option">
							<a href=""><span>Все кухни</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Авторские модели кухонь</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в классическом стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в современном стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни в стиле неоклассика</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
						<li class="header__list-option">
							<a href=""><span>Кухни премиум класса</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
						</li>
					</ul>
					<div class="header__imgs">
						<div class="header__imgs-item">
							<img src="../assets/images/header_1.png" alt="" />
						</div>
						<div class="header__imgs-item">
							<img src="../assets/images/header_2.png" alt="" />
						</div>
						<div class="header__imgs-item">
							<img src="../assets/images/header_3.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header__mob">
			<div class="container">
				<div class="header__inner">
					<div class="header__top">
						<div class="burger-menu">
							<a href="" class="burger-menu_button">
								<spun class="burger-menu_lines"></spun>
							</a>

							<div class="burger-menu_overlay"></div>
						</div>
						<div class="header__top-logo">
							<img src="../assets/images/logo.png" alt="" />
						</div>
						<div class="header__top-phone">
							<img src="../assets/images/icons/phone.svg" alt="" />
						</div>
					</div>
					<nav class="header__inner-menu">
						<div class="header__inner-main">
							<a href="" class="burger-menu_link">
								<span>Кухни</span>
								<div>
									<svg width="75" height="52" viewBox="0 0 75 52" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g filter="url(#filter0_b_4987_23171)">
											<rect x="23" width="52" height="52" rx="26" fill="white" fill-opacity="0.2" />
										</g>
										<path d="M1 25.25C0.585786 25.25 0.25 25.5858 0.25 26C0.25 26.4142 0.585786 26.75 1 26.75L1 25.25ZM49.5303 26.5303C49.8232 26.2374 49.8232 25.7626 49.5303 25.4697L44.7574 20.6967C44.4645 20.4038 43.9896 20.4038 43.6967 20.6967C43.4038 20.9896 43.4038 21.4645 43.6967 21.7574L47.9393 26L43.6967 30.2426C43.4038 30.5355 43.4038 31.0104 43.6967 31.3033C43.9896 31.5962 44.4645 31.5962 44.7574 31.3033L49.5303 26.5303ZM1 26.75L49 26.75L49 25.25L1 25.25L1 26.75Z" fill="white" />
										<defs>
											<filter id="filter0_b_4987_23171" x="12.8" y="-10.2" width="72.4" height="72.4" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
												<feFlood flood-opacity="0" result="BackgroundImageFix" />
												<feGaussianBlur in="BackgroundImageFix" stdDeviation="5.1" />
												<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_4987_23171" />
												<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_4987_23171" result="shape" />
											</filter>
										</defs>
									</svg>
								</div>
							</a>
							<a href="" class="burger-menu_link">
								<span>Мебель</span>
								<div>
									<svg width="75" height="52" viewBox="0 0 75 52" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g filter="url(#filter0_b_4987_23171)">
											<rect x="23" width="52" height="52" rx="26" fill="white" fill-opacity="0.2" />
										</g>
										<path d="M1 25.25C0.585786 25.25 0.25 25.5858 0.25 26C0.25 26.4142 0.585786 26.75 1 26.75L1 25.25ZM49.5303 26.5303C49.8232 26.2374 49.8232 25.7626 49.5303 25.4697L44.7574 20.6967C44.4645 20.4038 43.9896 20.4038 43.6967 20.6967C43.4038 20.9896 43.4038 21.4645 43.6967 21.7574L47.9393 26L43.6967 30.2426C43.4038 30.5355 43.4038 31.0104 43.6967 31.3033C43.9896 31.5962 44.4645 31.5962 44.7574 31.3033L49.5303 26.5303ZM1 26.75L49 26.75L49 25.25L1 25.25L1 26.75Z" fill="white" />
										<defs>
											<filter id="filter0_b_4987_23171" x="12.8" y="-10.2" width="72.4" height="72.4" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
												<feFlood flood-opacity="0" result="BackgroundImageFix" />
												<feGaussianBlur in="BackgroundImageFix" stdDeviation="5.1" />
												<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_4987_23171" />
												<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_4987_23171" result="shape" />
											</filter>
										</defs>
									</svg>
								</div>
							</a>
							<a href="" class="burger-menu_link">Портфолио</a>
							<a href="" class="burger-menu_link">О нас</a>
							<a href="" class="burger-menu_link">Дизайнерам и архитекторам</a>
							<a href="" class="burger-menu_link">Заказчикам</a>
							<a href="" class="burger-menu_link">Контакты</a>
						</div>
						<div class="header__inner-bottom">
							<div class="header__call">
								<div class="header__call-icon">
									<img src="../assets/images/icons/phone.svg" alt="" />
								</div>
								<div class="header__call-text">
									<span>Заказать звонок</span>
									<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="5.65674" y="-0.156738" width="8" height="8" rx="1" transform="rotate(45 5.65674 -0.156738)" fill="#D3965F" />
									</svg>
								</div>
							</div>
							<div class="header__social">
								<div class="header__social-item">
									<img src="../assets/images/icons/social/tg.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/whatsup.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/inst.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/behance.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/facebook.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/vk.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/dzen1.svg" alt="" />
								</div>
								<div class="header__social-item">
									<img src="../assets/images/icons/social/pinterest.svg" alt="" />
								</div>
							</div>
						</div>
						<div class="header__inner-sublists">
							<div class="header__inner-sublists--title">
								<div>
									<svg width="49" height="32" viewBox="0 0 49 32" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g filter="url(#filter0_b_4987_22200)">
											<rect x="17" width="32" height="32" rx="16" fill="white" fill-opacity="0.2" />
										</g>
										<path d="M0.646447 15.6464C0.451184 15.8417 0.451184 16.1583 0.646447 16.3536L3.82843 19.5355C4.02369 19.7308 4.34027 19.7308 4.53553 19.5355C4.7308 19.3403 4.7308 19.0237 4.53553 18.8284L1.70711 16L4.53553 13.1716C4.7308 12.9763 4.7308 12.6597 4.53553 12.4645C4.34027 12.2692 4.02369 12.2692 3.82843 12.4645L0.646447 15.6464ZM1 16.5L33 16.5L33 15.5L1 15.5L1 16.5Z" fill="#D3965F" />
										<defs>
											<filter id="filter0_b_4987_22200" x="6.8" y="-10.2" width="52.4" height="52.4" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
												<feFlood flood-opacity="0" result="BackgroundImageFix" />
												<feGaussianBlur in="BackgroundImageFix" stdDeviation="5.1" />
												<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_4987_22200" />
												<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_4987_22200" result="shape" />
											</filter>
										</defs>
									</svg>
								</div>
								<div>Кухни</div>
							</div>
							<ul class="header__list">
								<li class="header__list-option">
									<a href=""><span>Все кухни</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
								<li class="header__list-option">
									<a href=""><span>Авторские модели кухонь</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
								<li class="header__list-option">
									<a href=""><span>Кухни в классическом стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
								<li class="header__list-option">
									<a href=""><span>Кухни в современном стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
								<li class="header__list-option">
									<a href=""><span>Кухни в стиле неоклассика</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
								<li class="header__list-option">
									<a href=""><span>Кухни премиум класса</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
							</ul>
							<ul class="header__list">
								<li class="header__list-option">
									<a href=""><span>Все кухни</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
								<li class="header__list-option">
									<a href=""><span>Авторские модели кухонь</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
								<li class="header__list-option">
									<a href=""><span>Кухни в классическом стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
								<li class="header__list-option">
									<a href=""><span>Кухни в современном стиле</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
								<li class="header__list-option">
									<a href=""><span>Кухни в стиле неоклассика</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
								<li class="header__list-option">
									<a href=""><span>Кухни премиум класса</span> <img src="../assets/images/icons/arrow_header.svg" alt="" /></a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
