<section class="letters-slider">
	<div class="container">
		<div class="letters-slider__inner">
			<div class="letters-slider__pagination-box">
				<span class="letters-slider__pagination-num pagination__number pag-cur">01</span>
				<div class="letters-slider__pagination"></div>
				<span class="letters-slider__pagination-num pagination__number pag-last">05</span>
			</div>
			<h3 class="letters-slider__title h3">благодарственные письма</h3>
			<div class="letters-slider__navigation-box">
				<div class="letters-slider__navigation navigation">
					<button class="navigation-prev">
						<img src="../../assets/images/icons/arrow_prev.svg" alt="" />
					</button>
					<button class="navigation-next">
						<img src="../../assets/images/icons/arrow_next.svg" alt="" />
					</button>
				</div>
			</div>

			<div class="letters-slider__swiper-box">
				<div class="letters-slider__swiper ">
					<div class="letters-slider__swiper-wrapper swiper-wrapper">
						<div class="letters-slider__swiper-slide swiper-slide" data-num="1">
							<div class="letters-slider__swiper-slide-inner">
								<div class="reviews__block">
									<div class="reviews__block-icon">
										<img src="./assets/images/pages/about-company/invite-logo.webp" alt="" />
									</div>
									<h5 class="reviews__block-text h5">
										ОАО Компания <br />
										туроператор «Инвайт»
									</h5>
							
									<a href="./assets/images/pages/review/document.webp" data-fancybox="img-gallery" class="reviews__block-link link--arrow-right">
										<span class="reviews__block-link--text">Подробнее</span>
		
										<div class="reviews__link-img-box link--arrow-right-img-box">
											<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
											  </svg>
											<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="letters-slider__swiper-slide swiper-slide" data-num="2">
							<div class="letters-slider__swiper-slide-inner">
								<div class="reviews__block">
									<div class="reviews__block-icon">
										<img src="./assets/images/pages/about-company/invite-logo.webp" alt="" />
									</div>
									<h5 class="reviews__block-text h5">
										ОАО Компания <br />
										туроператор «Инвайт»
									</h5>
									<a href="./assets/images/pages/review/document.webp" data-fancybox="img-gallery" class="reviews__block-link link--arrow-right">
										<span class="reviews__block-link--text">Подробнее</span>
		
										<div class="reviews__link-img-box link--arrow-right-img-box">
											<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
											  </svg>
											<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="letters-slider__swiper-slide swiper-slide" data-num="3">
							<div class="letters-slider__swiper-slide-inner">
								<div class="reviews__block">
									<div class="reviews__block-icon">
										<img src="./assets/images/pages/about-company/invite-logo.webp" alt="" />
									</div>
									<h5 class="reviews__block-text h5">
										ОАО Компания <br />
										туроператор «Инвайт»
									</h5>
									<a href="./assets/images/pages/review/document.webp" data-fancybox="img-gallery" class="reviews__block-link link--arrow-right">
										<span class="reviews__block-link--text">Подробнее</span>
		
										<div class="reviews__link-img-box link--arrow-right-img-box">
											<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
											  </svg>
											<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="letters-slider__swiper-slide swiper-slide" data-num="4">
							<div class="letters-slider__swiper-slide-inner">
								<div class="reviews__block">
									<div class="reviews__block-icon">
										<img src="./assets/images/pages/about-company/invite-logo.webp" alt="" />
									</div>
									<h5 class="reviews__block-text h5">
										ОАО Компания <br />
										туроператор «Инвайт»
									</h5>
									<a href="./assets/images/pages/review/document.webp" data-fancybox="img-gallery" class="reviews__block-link link--arrow-right">
										<span class="reviews__block-link--text">Подробнее</span>
		
										<div class="reviews__link-img-box link--arrow-right-img-box">
											<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
											  </svg>
											<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="letters-slider__swiper-slide swiper-slide" data-num="5">
							<div class="letters-slider__swiper-slide-inner">
								<div class="reviews__block">
									<div class="reviews__block-icon">
										<img src="./assets/images/pages/about-company/invite-logo.webp" alt="" />
									</div>
									<h5 class="reviews__block-text h5">
										ОАО Компания <br />
										туроператор «Инвайт»
									</h5>
									<a href="./assets/images/pages/review/document.webp" data-fancybox="img-gallery" class="reviews__block-link link--arrow-right">
										<span class="reviews__block-link--text">Подробнее</span>
		
										<div class="reviews__link-img-box link--arrow-right-img-box">
											<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
											  </svg>
											<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="letters-slider__swiper-slide swiper-slide" data-num="6">
							<div class="letters-slider__swiper-slide-inner">
								<div class="reviews__block">
									<div class="reviews__block-icon">
										<img src="./assets/images/pages/about-company/invite-logo.webp" alt="" />
									</div>
									<h5 class="reviews__block-text h5">
										ОАО Компания <br />
										туроператор «Инвайт»
									</h5>
									<a href="./assets/images/pages/review/document.webp" data-fancybox="img-gallery" class="reviews__block-link link--arrow-right">
										<span class="reviews__block-link--text">Подробнее</span>
		
										<div class="reviews__link-img-box link--arrow-right-img-box">
											<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
											  </svg>
											<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				
					
				</div>
			</div>
		</div>
	</div>
</section>
