<div class="magazines">
	<div class="container">
		<div class="magazines__inner">
			<div class="magazines__swiper ">
				<div class="magazines__swiper-wrapper swiper-wrapper">
					<div class="magazines__swiper-slide swiper-slide">
						<div class="magazines__slide-inner">
							<figure class="magazines__img-box">
								<img src="./assets/images/pages/disigners/magazines-1.webp" alt="" />
							</figure>
							<a class="magazines__link">
								<span class="magazines__link-text">Журнал Salon</span>
								<div class="magazines__link-img-box">
									<img src="./assets/images/icons/arrow.svg" alt="" />
								</div>
							</a>
						</div>
					</div>
					<div class="magazines__swiper-slide swiper-slide">
						<div class="magazines__slide-inner">
							<figure class="magazines__img-box">
								<img src="./assets/images/pages/disigners/magazines-2.webp" alt="" />
							</figure>
							<a class="magazines__link">
								<span class="magazines__link-text">Журнал Salon</span>
								<div class="magazines__link-img-box">
									<img src="./assets/images/icons/arrow.svg" alt="" />
								</div>
							</a>
						</div>
					</div>
					<div class="magazines__swiper-slide swiper-slide">
						<div class="magazines__slide-inner">
							<figure class="magazines__img-box">
								<img src="./assets/images/pages/disigners/magazines-3.webp" alt="" />
							</figure>
							<a class="magazines__link">
								<span class="magazines__link-text">Журнал Salon</span>
								<div class="magazines__link-img-box">
									<img src="./assets/images/icons/arrow.svg" alt="" />
								</div>
							</a>
						</div>
					</div>
					<div class="magazines__swiper-slide swiper-slide">
						<div class="magazines__slide-inner">
							<figure class="magazines__img-box">
								<img src="./assets/images/pages/disigners/magazines-4.webp" alt="" />
							</figure>
							<a class="magazines__link">
								<span class="magazines__link-text">Журнал Salon</span>
								<div class="magazines__link-img-box">
									<img src="./assets/images/icons/arrow.svg" alt="" />
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="magazines__swiper-pagination pagination"></div>
		</div>
	</div>
</div>
