<section class="news wow animate__fadeIn">
	<div class="news__title h3">Новости и события</div>
	<div class="news__slider">
		<div class="swiper-wrapper">
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text">Акции</span>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text">Почему мы?</span>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text">Уникальные разработки</span>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text"
					>Выставки <br />
					и мероприятия</span
				>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text"
					>Дизайнерам <br />
					и архитекторам</span
				>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text">Рум-тур</span>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text">Процесс монтажа</span>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text">Акции</span>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text">Почему мы?</span>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text">Уникальные разработки</span>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text"
					>Выставки <br />
					и мероприятия</span
				>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text">Почему мы?</span>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text">Уникальные разработки</span>
			</a>
			<a href="" class="swiper-slide news__slider-item">
				<div class="news__slider-img">
					<img src="./assets/images/pages/home/news_1.png" alt="" />
				</div>
				<span class="news__slider-text"
					>Выставки <br />
					и мероприятия</span
				>
			</a>
		</div>
	</div>
	<div class="news__pag">
		<include src="./components/ui/navigation.html"></include>
	</div>
</section>
