<section class="news-list">
	<div class="news-list__container container">
		<div class="news-list__head">
			<div class="news-list__title h3">все новости</div>
			<div class="news-list__sort">
				<div class="news-list__sort-head">
					<div class="text-18-r">Сначала новые</div>
					<div>
						<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3 9.5L7 5.5M7 5.5L11 9.5M7 5.5V19.5M21 15.5L17 19.5M17 19.5L13 15.5M17 19.5V5.5" stroke="white" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</div>
				</div>
				<div class="news-list__sort-bottom">
					<div class="news-list__sort-bottom--item text-18-r active">Сначала новые</div>
					<div class="news-list__sort-bottom--item text-18-r">Сначала старые</div>
					<div class="news-list__sort-bottom--item text-18-r">Сначала новые1</div>
					<div class="news-list__sort-bottom--item text-18-r">Сначала старые1</div>
				</div>
			</div>
		</div>
		<div class="news-list__body">
			<div class="news-list__item">
				<div class="news-list__item-date">13.03.2024</div>
				<div class="news-list__item-img">
					<img src="./assets/images/pages/news/news-list-item-img-1.png" alt="" />
				</div>
				<div class="news-list__item-descr">
					<div class="news-list__item-title">Рабочий кабинет или место спокойствия — какие ассоциации знаете про ванные комнаты?</div>
					<a href="#" class="btn btn__primary">
						<span class="btn__text">Подробнее</span>
						<div class="btn__svg-box">
							<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
							</svg>
							<div class="btn__svg-box-circle"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="news-list__item">
				<div class="news-list__item-date">09.03.2024</div>
				<div class="news-list__item-img">
					<img src="./assets/images/pages/news/news-list-item-img-2.png" alt="" />
				</div>
				<div class="news-list__item-descr">
					<div class="news-list__item-title">Любите готовить? На этой кухне есть место для всех приборов, посуды, продуктов и техники!</div>
					<div class="news-list__item-text">
						<p>В этом капсульном пространстве собран максимально возможный функционал, который позволит хозяевам разместить всё по полочками и наслаждаться красотой интерьера, содержа кухню в порядке, и быстро и легко иметь доступ к каждой зоне хранения или приготовления пищи.</p>
						<p>Мы заботимся, чтобы ваша мебель полностью соответствовала...</p>
					</div>
					<a href="#" class="btn btn__primary">
						<span class="btn__text">Подробнее</span>
						<div class="btn__svg-box">
							<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
							</svg>
							<div class="btn__svg-box-circle"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="news-list__item">
				<div class="news-list__item-date">28.02.2024</div>
				<a href="./assets/video/path.mp4" data-fancybox class="news-list__item-img">
					<img src="./assets/images/pages/news/news-list-item-img-3.png" alt="" />
					<include src="./components/ui/btn_play.html"></include>
				</a>
				<div class="news-list__item-descr">
					<div class="news-list__item-title">Важно в ремонте: избегаем «я думал, будет по-другому»</div>
					<div class="news-list__item-text">
						<p>Планируя интерьер, заказчик мечтает, чтобы результат соответствовал ожиданиям. Однако, иногда в конце работ возникают недопонимания и разочарования. Как избежать таких ситуаций?</p>
						<p>📐 Ключевой момент — подробное изучение чертежей перед подписанием. Дизайнер вместе с заказчиком должны внимательно рассмотреть все детали, выверить размеры, выступы, материалы. Только так вы убедитесь, что мебель гармонично впишется в интерьер...</p>
					</div>
					<a href="#" class="btn btn__primary">
						<span class="btn__text">Подробнее</span>
						<div class="btn__svg-box">
							<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
							</svg>
							<div class="btn__svg-box-circle"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="news-list__item">
				<div class="news-list__item-date">21.02.2024</div>
				<a href="./assets/video/path.mp4" data-fancybox class="news-list__item-img">
					<img src="./assets/images/pages/news/news-list-item-img-4.png" alt="" />
					<include src="./components/ui/btn_play.html"></include>
				</a>
				<div class="news-list__item-descr">
					<div class="news-list__item-title">Наконец завершена комплексная меблировка нашего третьего проекта на Саввинской набережной — ещё одной квартиры для большой семьи</div>
					<div class="news-list__item-text">Здесь мы реализовали отделку входной группы стеновыми панелями и скрытую за ними постирочную зону. Кроме этого, кухню с дополнительным кладовым помещением, гостиную, 2 гардеробные и шкаф в нише в спальне для создания эффекта монохромной стены и удобного хранения.</div>
					<a href="#" class="btn btn__primary">
						<span class="btn__text">Подробнее</span>
						<div class="btn__svg-box">
							<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
							</svg>
							<div class="btn__svg-box-circle"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- <button class="news-list__more text-20-r">
			<div>Показать ещё</div>
			<div>
				<img src="./assets/images/pages/news/news-list-more.svg" alt="" />
			</div>
		</button> -->

		<button class="news-list__show-more-btn">
			<span class="news-list__show-more-text">Показать ещё</span>
			<div class="news-list__show-more-img-box">
				<svg width="13" height="54" viewBox="0 0 13 54" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7.25 1C7.25 0.585786 6.91421 0.25 6.5 0.25C6.08579 0.25 5.75 0.585786 5.75 1L7.25 1ZM5.96967 53.5303C6.26256 53.8232 6.73744 53.8232 7.03033 53.5303L11.8033 48.7574C12.0962 48.4645 12.0962 47.9896 11.8033 47.6967C11.5104 47.4038 11.0355 47.4038 10.7426 47.6967L6.5 51.9393L2.25736 47.6967C1.96447 47.4038 1.48959 47.4038 1.1967 47.6967C0.903806 47.9896 0.903806 48.4645 1.1967 48.7574L5.96967 53.5303ZM5.75 1L5.75 53H7.25L7.25 1L5.75 1Z" fill="white" />
				</svg>
				<div class="news-list__show-more-img-circle"></div>
			</div>
		</button>
	</div>
</section>
