<section class="premium-approach">
	<div class="container">
		<div class="premium-approach__inner">
			<div class="premium-approach__title-box">
				<h3 class="premium-approach__title h3">Персональный подход <br />и премиальный сервис</h3>
				<p class="premium-approach__text text-20-r">Благодаря индивидуальному подходу конструкторского отдела и дизайнеров к каждому заказу, наши клиенты имеют возможность на 100% выразить себя и создать в доме максимально комфортную для себя атмосферу.</p>
			</div>
			<div class="premium-approach__content-box">
				<div class="premium-approach__list-swiper">
					<div class="premium-approach__list-swiper-wrapper swiper-wrapper">
						<div class="premium-approach__list-swiper-slide swiper-slide">
							<div class="premium-approach__list-swiper-slide-inner">
								<span class="premium-approach__item-number text-20-r">01</span>
								<span class="premium-approach__item-text-box">
									<span class="premium-approach__item-text-title">Будем всегда на связи</span>
									<span class="premium-approach__item-text">На протяжении всего процесса сотрудничества у вас будут прямые контакты наших специалистов</span>
								</span>
							</div>
						</div>
						<div class="premium-approach__list-swiper-slide swiper-slide">
							<div class="premium-approach__list-swiper-slide-inner">
								<span class="premium-approach__item-number text-20-r">02</span>
								<span class="premium-approach__item-text-box">
									<span class="premium-approach__item-text-title">Все замерим </span>
									<span class="premium-approach__item-text">Мы произведем замеры помещения для более точного проектирования и реализации</span>
								</span>
							</div>
						</div>
						<div class="premium-approach__list-swiper-slide swiper-slide">
							<div class="premium-approach__list-swiper-slide-inner">
								<span class="premium-approach__item-number text-20-r">03</span>
								<span class="premium-approach__item-text-box">
									<span class="premium-approach__item-text-title">Ничего не забудем</span>
									<span class="premium-approach__item-text">Доставим, смонтируем, не забудем про фото-фиксацию помещения до и после монтажа</span>
								</span>
							</div>
						</div>
					</div>

					<div class="premium-approach__list-pagination-box">
						<div class="premium-approach__list-pagination"></div>
					</div>
				</div>

				<div class="premium-approach__photo-swiper">
					<div class="premium-approach__photo-swiper-wrapper swiper-wrapper">
						<div class="premium-approach__photo-swiper-slide swiper-slide" data-num="1">
							<div class="premium-approach__photo-swiper-slide-inner">
								<div class="premium-approach__photo-img-box">
									<img src="./assets/images/pages/disigners/photo-1.webp" alt="" />
								</div>
								<div class="premium-approach__photo-info-box">
									<p class="premium-approach__photo-name">Иванова Светлана</p>
									<p class="premium-approach__photo-position">Технолог</p>
								</div>
							</div>
						</div>
						<div class="premium-approach__photo-swiper-slide swiper-slide" data-num="2">
							<div class="premium-approach__photo-swiper-slide-inner">
								<div class="premium-approach__photo-img-box">
									<img src="./assets/images/pages/disigners/photo-2.webp" alt="" />
								</div>
								<div class="premium-approach__photo-info-box">
									<p class="premium-approach__photo-name">Сергей Сергеев</p>
									<p class="premium-approach__photo-position">Технолог</p>
								</div>
							</div>
						</div>
						<div class="premium-approach__photo-swiper-slide swiper-slide" data-num="3">
							<div class="premium-approach__photo-swiper-slide-inner">
								<div class="premium-approach__photo-img-box">
									<img src="./assets/images/pages/disigners/photo-3.webp" alt="" />
								</div>
								<div class="premium-approach__photo-info-box">
									<p class="premium-approach__photo-name">Константинова Марина</p>
									<p class="premium-approach__photo-position">Технолог</p>
								</div>
							</div>
						</div>
						<div class="premium-approach__photo-swiper-slide swiper-slide" data-num="4">
							<div class="premium-approach__photo-swiper-slide-inner">
								<div class="premium-approach__photo-img-box">
									<img src="./assets/images/pages/disigners/photo-4.webp" alt="" />
								</div>
								<div class="premium-approach__photo-info-box">
									<p class="premium-approach__photo-name">Смирнова Ольга</p>

									<p class="premium-approach__photo-position">Технолог</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="premium-approach__nav-wrapper">
					<div class="premium-approach__pagination-box">
						<span class="premium-approach__pagination-num pagination__number pag-cur">01</span>
						<div class="premium-approach__pagination"></div>
						<span class="premium-approach__pagination-num pagination__number pag-last">05</span>
					</div>
					<div class="premium-approach__navigation-box">
						<div class="premium-approach__navigation navigation">
							<button class="navigation-prev">
								<img src="../../assets/images/icons/arrow_prev.svg" alt="" />
							</button>
							<button class="navigation-next">
								<img src="../../assets/images/icons/arrow_next.svg" alt="" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
