<section class="process ">
	<div class="container">
		<h2 class="process__title h3 wow animate__fadeIn">Как мы работаем</h2>
		<div class="process__main">
			<div class="process__list-slider wow animate__fadeInDown">
				<div class="process__list swiper-wrapper">
					<div class="process__list-item swiper-slide">
						<div class="process__list-img">
							<img src="./assets/images/pages/home/process_1.png" alt="" />
						</div>

						<div class="process__list-info">
							<span class="process__list-number">01</span>
							<span class="process__list-name"
								>Выбор <br />
								материала</span
							>
						</div>
						<div class="process__list-desc">На встрече в офисе мы выбираем цвет, материалы для фасадов и внутренней отделки вашей будущей кухни. Распределяем зонирование.</div>
						<a class="process__list-link">
							<span>Читать подробнее</span>
							<img src="./assets/images/pages/home/arrow.svg" alt="" />
						</a>
					</div>
					<div class="process__list-item swiper-slide">
						<div class="process__list-img">
							<img src="./assets/images/pages/home/process_2.png" alt="" />
						</div>
						<div class="process__list-info">
							<span class="process__list-number">02</span>
							<span class="process__list-name"
								>Готовим 3D <br />
								план-чертёж</span
							>
						</div>
						<div class="process__list-desc">На встрече в офисе мы выбираем цвет, материалы для фасадов и внутренней отделки вашей будущей кухни. Распределяем зонирование.</div>
						<a class="process__list-link">
							<span>Читать подробнее</span>
							<img src="./assets/images/pages/home/arrow.svg" alt="" />
						</a>
					</div>
					<div class="process__list-item swiper-slide">
						<div class="process__list-img">
							<img src="./assets/images/pages/home/process_3.png" alt="" />
						</div>
						<div class="process__list-info">
							<span class="process__list-number">03</span>
							<span class="process__list-name"
								>Визуал для <br />
								комплексной <br />
								меблировки</span
							>
						</div>
						<div class="process__list-desc">На встрече в офисе мы выбираем цвет, материалы для фасадов и внутренней отделки вашей будущей кухни. Распределяем зонирование.</div>
						<a class="process__list-link">
							<span>Читать подробнее</span>
							<img src="./assets/images/pages/home/arrow.svg" alt="" />
						</a>
					</div>
					<div class="process__list-item swiper-slide">
						<div class="process__list-img">
							<img src="./assets/images/pages/home/process_4.png" alt="" />
						</div>
						<div class="process__list-info">
							<span class="process__list-number">04</span>
							<span class="process__list-name"
								>Изготавливаем кухню <br />
								и производим монтаж</span
							>
						</div>
						<div class="process__list-desc">На встрече в офисе мы выбираем цвет, материалы для фасадов и внутренней отделки вашей будущей кухни. Распределяем зонирование.</div>
						<a class="process__list-link">
							<span>Читать подробнее</span>
							<img src="./assets/images/pages/home/arrow.svg" alt="" />
						</a>
					</div>
				</div>
			</div>
			<div class="process__pagination pagination "></div>
			<div class="process__videos wow animate__fadeInDown">
				<div class="process__videos-item">
			
					<a href="./assets/video/path.mp4" data-fancybox class="process__videos-video">
						<div class="video__img-play">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9.98593 6.90014C8.69252 6.07706 7 7.00616 7 8.53925V16.4607C7 17.9938 8.69252 18.9229 9.98593 18.0999L16.21 14.1391C17.4097 13.3757 17.4097 11.6243 16.21 10.8609L9.98593 6.90014Z" fill="#130F0B" />
							</svg>
						</div>
						<img class="video-company" src="./assets/images/pages/home/process-video-1.webp" alt="" />
					</a>
					<span class="process__videos-name"> Чертеж и 3D модель кухни </span>
				</div> 

				<div class="process__videos-item">
			
					<a href="./assets/video/path.mp4" data-fancybox class="process__videos-video">
						<div class="video__img-play">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9.98593 6.90014C8.69252 6.07706 7 7.00616 7 8.53925V16.4607C7 17.9938 8.69252 18.9229 9.98593 18.0999L16.21 14.1391C17.4097 13.3757 17.4097 11.6243 16.21 10.8609L9.98593 6.90014Z" fill="#130F0B" />
							</svg>
						</div>
						<img class="video-company" src="./assets/images/pages/home/process-video-2.webp" alt="" />
					</a>
					<span class="process__videos-name"> Рум-тур сданного объекта </span>
				</div> 

			

				
			</div>
		</div>
	</div>
</section>
