<section class="production">
	<div class="container production__container">
		<div class="production__main">
			<h2 class="production__main-title h3">собственное производство полного цикла</h2>
			<include src="./components/ui/btn_primary.html"></include>

			<div class="production__slider swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide production__slider-item">
						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/factory.svg" alt="Cобственное производство" />
									</div>
									<span class="production__card-number">01</span>
								</div>
								<span class="production__card-text"> Cобственное производство в г. Щёлково  </span>
							</div>
						</div>

						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/edit_road.svg" alt="Работаем со всеми материалами" />
									</div>
									<span class="production__card-number">02</span>
								</div>
								<span class="production__card-text"> Работаем со всеми материалами: металл, стекло, камень, мдф, шпон, эмаль и др. </span>
							</div>
						</div>
					</div>
					<div class="swiper-slide production__slider-item">
						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/factory.svg" alt="Cобственное производство" />
									</div>
									<span class="production__card-number">03</span>
								</div>
								<span class="production__card-text"> Cобственное производство в г. Щёлково  </span>
							</div>
						</div>

						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/edit_road.svg" alt="Работаем со всеми материалами" />
									</div>
									<span class="production__card-number">04</span>
								</div>
								<span class="production__card-text"> Работаем со всеми материалами: металл, стекло, камень, мдф, шпон, эмаль и др. </span>
							</div>
						</div>
					</div>
					<div class="swiper-slide production__slider-item">
						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/factory.svg" alt="Cобственное производство" />
									</div>
									<span class="production__card-number">05</span>
								</div>
								<span class="production__card-text"> Cобственное производство в г. Щёлково  Cобственное производство в г. Щёлково  Cобственное производство в г. Щёлково  </span>
							</div>
						</div>

						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/edit_road.svg" alt="Работаем со всеми материалами" />
									</div>
									<span class="production__card-number">06</span>
								</div>
								<span class="production__card-text"> Работаем со всеми материалами: металл, стекло, камень, мдф, шпон, эмаль и др. </span>
							</div>
						</div>
					</div>
				</div>
				<div class="production__controls">
					<div class="pagination">
						<span class="pagination__number pag-cur">01</span>

						<svg width="77" height="2" viewBox="0 0 77 2" fill="none" xmlns="http://www.w3.org/2000/svg">
							<line y1="0.8" x2="77" y2="0.8" stroke="white" stroke-opacity="0.2" stroke-width="1.4" />
							<path d="M0 1H27" stroke="#D3965F" stroke-width="1.4" />
						</svg>

						<span class="pagination__number pag-last">03</span>
					</div>
					<include src="./components/ui/navigation.html"></include>
				</div>
			</div>
			<div class="production__slider production__slider--mob swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide production__slider-item">
						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/factory.svg" alt="Cобственное производство" />
									</div>
									<span class="production__card-number">01</span>
								</div>
								<span class="production__card-text"> Cобственное производство в г. Щёлково  </span>
							</div>
						</div>
					</div>
					<div class="swiper-slide production__slider-item">
						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/edit_road.svg" alt="Работаем со всеми материалами" />
									</div>
									<span class="production__card-number">02</span>
								</div>
								<span class="production__card-text"> Работаем со всеми материалами: металл, стекло, камень, мдф, шпон, эмаль и др. </span>
							</div>
						</div>
					</div>
					<div class="swiper-slide production__slider-item">
						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/factory.svg" alt="Cобственное производство" />
									</div>
									<span class="production__card-number">03</span>
								</div>
								<span class="production__card-text"> Cобственное производство в г. Щёлково  </span>
							</div>
						</div>
					</div>
					<div class="swiper-slide production__slider-item">
						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/edit_road.svg" alt="Работаем со всеми материалами" />
									</div>
									<span class="production__card-number">04</span>
								</div>
								<span class="production__card-text"> Работаем со всеми материалами: металл, стекло, камень, мдф, шпон, эмаль и др. </span>
							</div>
						</div>
					</div>
					<div class="swiper-slide production__slider-item">
						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/factory.svg" alt="Cобственное производство" />
									</div>
									<span class="production__card-number">05</span>
								</div>
								<span class="production__card-text"> Cобственное производство в г. Щёлково  Cобственное производство в г. Щёлково  Cобственное производство в г. Щёлково  </span>
							</div>
						</div>
					</div>
					<div class="swiper-slide production__slider-item">
						<div class="production__card">
							<div class="production__card-wrapper">
								<div class="production__card-top">
									<div class="production__card-icon">
										<img src="./assets/images/icons/edit_road.svg" alt="Работаем со всеми материалами" />
									</div>
									<span class="production__card-number">06</span>
								</div>
								<span class="production__card-text"> Работаем со всеми материалами: металл, стекло, камень, мдф, шпон, эмаль и др. </span>
							</div>
						</div>
					</div>
				</div>
				<div class="production__controls">
					<div class="pagination">
						<span class="pagination__number pag-cur">01</span>

						<svg width="77" height="2" viewBox="0 0 77 2" fill="none" xmlns="http://www.w3.org/2000/svg">
							<line y1="0.8" x2="77" y2="0.8" stroke="white" stroke-opacity="0.2" stroke-width="1.4" />
							<path d="M0 1H27" stroke="#D3965F" stroke-width="1.4" />
						</svg>

						<span class="pagination__number pag-last">03</span>
					</div>
					<include src="./components/ui/navigation.html"></include>
				</div>
			</div>
		</div>
		<div class="production__video">
			<include src="./components/ui/btn_play.html" data-text='{".btn__play": {"class": "btn-play"}}'></include>
			<video class="video-company" src="./assets/video/intro.mp4">
				<source src="./assets/video/intro.mp4" type="mp4" />
			</video>
		</div>
	</div>
</section>
