<section class="quality">
	<div class="container quality__container">
		<div class="quality__video">
			<include src="./components/ui/btn_play.html" data-text='{".btn__play": {"class": "btn-play"}}'></include>
			<video class="video-company" src="./assets/video/intro.mp4">
				<source src="./assets/video/intro.mp4" type="mp4" />
			</video>
		</div>
		<div class="quality__main">
			<h2 class="quality__main-title h3">
				безупречное качество <br />
				и уникальные разработки
			</h2>
			<ul class="quality__list">
				<li class="quality__list-item">
					<div class="quality__list-title">
						<img src="./assets/images/icons/workspace.svg" alt="Premium и lux" />
						<span>Premium и lux</span>
					</div>
					<span class="quality__list-text">
						Сегмент, <br />
						в котором работаем
					</span>
				</li>
				<li class="quality__list-item">
					<div class="quality__list-title">
						<img src="./assets/images/icons/handyman.svg" alt="под ключ" />
						<span>под ключ</span>
					</div>
					<span class="quality__list-text">
						Комплексная меблировка <br />
						вашего дизайн-проекта
					</span>
				</li>
				<li class="quality__list-item">
					<div class="quality__list-title">
						<img src="./assets/images/icons/roller.svg" alt="с 2019" />
						<span>с 2019</span>
					</div>
					<span class="quality__list-text">
						Изготавливаем кухни <br />
						и корпусную мебель на заказ
					</span>
				</li>
			</ul>
		</div>
	</div>
</section>
