<section class="quality wow animate__fadeInDown">
	<div class="container quality__container">
		<!-- <div class="quality__video">
			<include src="./components/ui/btn_play.html" data-text='{".btn__play": {"class": "btn-play"}}'></include>
			<video class="video-company" src="./assets/video/intro.mp4">
				<source src="./assets/video/intro.mp4" type="mp4" />
			</video>
		</div> -->

		<a href="./assets/video/path.mp4" data-fancybox class="quality__video">
			<div class="video__img-play">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.98593 6.90014C8.69252 6.07706 7 7.00616 7 8.53925V16.4607C7 17.9938 8.69252 18.9229 9.98593 18.0999L16.21 14.1391C17.4097 13.3757 17.4097 11.6243 16.21 10.8609L9.98593 6.90014Z" fill="#130F0B" />
				</svg>
			</div>
			<img src="./assets/images/pages/home/quality-video.webp" alt="" />
		</a>

		<div class="quality__main">
			<h2 class="quality__main-title h3">
				безупречное качество <br />
				и уникальные разработки
			</h2>
			<ul class="quality__list">
				<li class="quality__list-item">
					<div class="quality__list-title">
						<img src="./assets/images/icons/workspace.svg" alt="Premium и lux" />
						<span>Premium и lux</span>
					</div>
					<span class="quality__list-text">
						Сегмент, <br />
						в котором работаем
					</span>
				</li>
				<li class="quality__list-item">
					<div class="quality__list-title">
						<img src="./assets/images/icons/handyman.svg" alt="под ключ" />
						<span>под ключ</span>
					</div>
					<span class="quality__list-text">
						Комплексная меблировка <br />
						вашего дизайн-проекта
					</span>
				</li>
				<li class="quality__list-item">
					<div class="quality__list-title">
						<img src="./assets/images/icons/roller.svg" alt="с 2019" />
						<span>с 2019</span>
					</div>
					<span class="quality__list-text">
						Изготавливаем кухни <br />
						и корпусную мебель на заказ
					</span>
				</li>
			</ul>
		</div>
	</div>
</section>
