<section class="reasons">
	<div class="container">
		<div class="reasons__inner">
			<h2 class="reasons__title h3">Почему важно работать 
                с Макс Малевич</h2>
			<div class="reasons__text-box">
				<p class="reasons__text">Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции играет важную роль в формировании форм развития. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют определения и уточнения соответствующий условий активизации. Таким образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке модели развития.</p>
				<p class="reasons__text">Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции играет важную роль в формировании форм развития. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют определения и уточнения соответствующий условий активизации. Таким образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке модели развития.</p>
			</div>
		</div>
	</div>
</section>
