<section class="reviews-disigners">
	<div class="container">
		<div class="reviews-disigners__inner">
			<div class="reviews-disigners__video">
				<h3 class="reviews-disigners__video-title h3">Отзывы наших клиентов</h3>
				<div class="reviews-disigners__video-swiper-box">
					<div class="reviews-disigners__video-swiper">
						<div class="reviews-disigners__video-swiper-wrapper swiper-wrapper">
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="1">
								<div class="reviews-disigners__video-swiper-slide-inner">
									<div class="reviews__video">
										<a href="./assets/video/path.mp4" data-fancybox class="reviews__video-img">
											<img src="./assets/images/pages/review/review1.webp" alt="" />
											<div class="reviews__video-img--play">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.98593 6.90014C8.69252 6.07706 7 7.00616 7 8.53925V16.4607C7 17.9938 8.69252 18.9229 9.98593 18.0999L16.21 14.1391C17.4097 13.3757 17.4097 11.6243 16.21 10.8609L9.98593 6.90014Z" fill="#130F0B" />
												</svg>
											</div>
										</a>
										<div class="reviews__video-text">
											<span class="reviews__video-text--date">13.11.2023</span>
											<h5 class="reviews__video-text--title h5">Иванова Светлана о проекте в ЖК Эгодом</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="2">
								<div class="reviews-disigners__video-swiper-slide-inner">
									<div class="reviews__video">
										<a href="./assets/video/path.mp4" data-fancybox class="reviews__video-img">
											<img src="./assets/images/pages/review/review2.webp" alt="" />
											<div class="reviews__video-img--play">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.98593 6.90014C8.69252 6.07706 7 7.00616 7 8.53925V16.4607C7 17.9938 8.69252 18.9229 9.98593 18.0999L16.21 14.1391C17.4097 13.3757 17.4097 11.6243 16.21 10.8609L9.98593 6.90014Z" fill="#130F0B" />
												</svg>
											</div>
										</a>
										<div class="reviews__video-text">
											<span class="reviews__video-text--date">13.11.2023</span>
											<h5 class="reviews__video-text--title h5">Иванова Светлана о проекте в ЖК Эгодом</h5>
										</div>
										<a href="#" class="reviews__video-link link--arrow-right">
											<span class="reviews__video-link--text">Подробнее о проекте</span>
			
											<div class="reviews__link-img-box link--arrow-right-img-box">
												<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
												  </svg>
												<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="3">
								<div class="reviews-disigners__video-swiper-slide-inner">
									<div class="reviews__video">
										<a href="./assets/video/path.mp4" data-fancybox class="reviews__video-img">
											<img src="./assets/images/pages/review/review3.webp" alt="" />
											<div class="reviews__video-img--play">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.98593 6.90014C8.69252 6.07706 7 7.00616 7 8.53925V16.4607C7 17.9938 8.69252 18.9229 9.98593 18.0999L16.21 14.1391C17.4097 13.3757 17.4097 11.6243 16.21 10.8609L9.98593 6.90014Z" fill="#130F0B" />
												</svg>
											</div>
										</a>
										<div class="reviews__video-text">
											<span class="reviews__video-text--date">13.11.2023</span>
											<h5 class="reviews__video-text--title h5">Иванова Светлана о проекте в ЖК Эгодом</h5>
										</div>
										<a href="#" class="reviews__video-link link--arrow-right">
											<span class="reviews__video-link--text">Подробнее о проекте</span>
			
											<div class="reviews__link-img-box link--arrow-right-img-box">
												<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
												  </svg>
												<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="4">
								<div class="reviews-disigners__video-swiper-slide-inner">
									<div class="reviews__video">
										<a href="./assets/video/path.mp4" data-fancybox class="reviews__video-img">
											<img src="./assets/images/pages/review/review2.webp" alt="" />
											<div class="reviews__video-img--play">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.98593 6.90014C8.69252 6.07706 7 7.00616 7 8.53925V16.4607C7 17.9938 8.69252 18.9229 9.98593 18.0999L16.21 14.1391C17.4097 13.3757 17.4097 11.6243 16.21 10.8609L9.98593 6.90014Z" fill="#130F0B" />
												</svg>
											</div>
										</a>
										<div class="reviews__video-text">
											<span class="reviews__video-text--date">13.11.2023</span>
											<h5 class="reviews__video-text--title h5">Иванова Светлана о проекте в ЖК Эгодом</h5>
										</div>
										<a href="#" class="reviews__video-link link--arrow-right">
											<span class="reviews__video-link--text">Подробнее о проекте</span>
			
											<div class="reviews__link-img-box link--arrow-right-img-box">
												<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
												  </svg>
												<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="5">
								<div class="reviews-disigners__video-swiper-slide-inner">
									<div class="reviews__video">
										<a href="./assets/video/path.mp4" data-fancybox class="reviews__video-img">
											<img src="./assets/images/pages/review/review3.webp" alt="" />
											<div class="reviews__video-img--play">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.98593 6.90014C8.69252 6.07706 7 7.00616 7 8.53925V16.4607C7 17.9938 8.69252 18.9229 9.98593 18.0999L16.21 14.1391C17.4097 13.3757 17.4097 11.6243 16.21 10.8609L9.98593 6.90014Z" fill="#130F0B" />
												</svg>
											</div>
										</a>
										<div class="reviews__video-text">
											<span class="reviews__video-text--date">13.11.2023</span>
											<h5 class="reviews__video-text--title h5">Иванова Светлана о проекте в ЖК Эгодом</h5>
										</div>
										<a href="#" class="reviews__video-link link--arrow-right">
											<span class="reviews__video-link--text">Подробнее о проекте</span>
			
											<div class="reviews__link-img-box link--arrow-right-img-box">
												<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
												  </svg>
												<div class="reviews__link-img-circle link--arrow-right-img-circle"></div>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="6">
								<div class="reviews-disigners__video-swiper-slide-inner">
									<div class="reviews__video">
										<a href="./assets/video/path.mp4" data-fancybox class="reviews__video-img">
											<img src="./assets/images/pages/review/review1.webp" alt="" />
											<div class="reviews__video-img--play">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.98593 6.90014C8.69252 6.07706 7 7.00616 7 8.53925V16.4607C7 17.9938 8.69252 18.9229 9.98593 18.0999L16.21 14.1391C17.4097 13.3757 17.4097 11.6243 16.21 10.8609L9.98593 6.90014Z" fill="#130F0B" />
												</svg>
											</div>
										</a>
										<div class="reviews__video-text">
											<span class="reviews__video-text--date">13.11.2023</span>
											<h5 class="reviews__video-text--title h5">Иванова Светлана о проекте в ЖК Эгодом</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="reviews-disigners__video-nav-box">
						<div class="reviews-disigners__video-pagination-box">
							<span class="reviews-disigners__video-pagination-num pagination__number pag-cur">01</span>
							<div class="reviews-disigners__video-pagination"></div>
							<span class="reviews-disigners__video-pagination-num pagination__number pag-last">05</span>
						</div>
						<div class="reviews-disigners__video-navigation navigation">
							<button class="navigation-prev">
								<img src="../../assets/images/icons/arrow_prev.svg" alt="" />
							</button>
							<button class="navigation-next">
								<img src="../../assets/images/icons/arrow_next.svg" alt="" />
							</button>
						</div>
					</div>
				</div>
				<a href="#" class="reviews-disigners__video-btn btn btn__primary">
					<span class="btn__text">Все отзывы</span>
					<div class="btn__svg-box">
						<svg width="54" height="12" viewBox="0 0 54 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 5.72266C0.585786 5.72266 0.25 6.05844 0.25 6.47266C0.25 6.88687 0.585786 7.22266 1 7.22266L1 5.72266ZM53.5303 7.00298C53.8232 6.71009 53.8232 6.23521 53.5303 5.94232L48.7574 1.16935C48.4645 0.876458 47.9896 0.876458 47.6967 1.16935C47.4038 1.46224 47.4038 1.93712 47.6967 2.23001L51.9393 6.47265L47.6967 10.7153C47.4038 11.0082 47.4038 11.4831 47.6967 11.776C47.9896 12.0688 48.4645 12.0688 48.7574 11.776L53.5303 7.00298ZM1 7.22266L53 7.22265L53 5.72265L1 5.72266L1 7.22266Z" fill="white" />
						</svg>
						<div class="btn__svg-box-circle"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
