<section class="reviews-disigners">
	<div class="container">
		<div class="reviews-disigners__inner">
			<div class="reviews-disigners__yandex">
				<h5 class="reviews-disigners__yandex-text h5">получите честный ответ о работе с нами от дизайнеров и архитекторов или почитайте отзывы на яндекс</h5>
				<div class="reviews-disigners__yandex-info">
					<div class="reviews-disigners__yandex-info-box">
						<figure class="reviews-disigners__yandex-info-svg-box">
							<img src="./assets/images/icons/social/yandex.svg" alt="" />
						</figure>
						<p class="reviews-disigners__yandex-info-text text-20-r">Отзывы на Яндекс</p>
					</div>
					<div class="reviews-disigners__yandex-num-box">
						<figure class="reviews-disigners__yandex-num-svg-box">
							<img src="./assets/images/icons/star.svg" alt="" />
						</figure>
						<p class="reviews-disigners__yandex-num-text text-18-r">4.5</p>
					</div>
				</div>
			</div>
			<div class="reviews-disigners__video">
				<h3 class="reviews-disigners__video-title h3">видео отзывы от дизайнеров</h3>
				<div class="reviews-disigners__video-swiper-box">
					<div class="reviews-disigners__video-swiper swiper">
						<div class="reviews-disigners__video-swiper-wrapper swiper-wrapper">
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="1">
								<div class="reviews-disigners__video-swiper-slide-inner">123</div>
							</div>
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="2">
								<div class="reviews-disigners__video-swiper-slide-inner">123</div>
							</div>
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="3">
								<div class="reviews-disigners__video-swiper-slide-inner">123</div>
							</div>
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="4">
								<div class="reviews-disigners__video-swiper-slide-inner">123</div>
							</div>
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="5">
								<div class="reviews-disigners__video-swiper-slide-inner">123</div>
							</div>
							<div class="reviews-disigners__video-swiper-slide swiper-slide" data-num="6">
								<div class="reviews-disigners__video-swiper-slide-inner">123</div>
							</div>
						</div>
					</div>
					<div class="reviews-disigners__video-nav-box">
						<div class="reviews-disigners__video-pagination-box">
							<span class="reviews-disigners__video-pagination-num pagination__number pag-cur">01</span>
							<div class="reviews-disigners__video-pagination"></div>
							<span class="reviews-disigners__video-pagination-num pagination__number pag-last">05</span>
						</div>
						<div class="reviews-disigners__video-navigation navigation">
							<button class="navigation-prev">
								<img src="../../assets/images/icons/arrow_prev.svg" alt="" />
							</button>
							<button class="navigation-next">
								<img src="../../assets/images/icons/arrow_next.svg" alt="" />
							</button>
						</div>
					</div>
				</div>
				<a href="#" class="reviews-disigners__video-btn btn btn__primary">
					<span class="btn__text">Все отзывы</span>
					<img src="./assets/images/icons/arrow.svg" alt="" />
				</a>
			</div>
		</div>
	</div>
</section>
