<section class="subscribe">
	<div class="subscribe__container container">
		<div class="subscribe__title">подпишитесь на Maxmalevich в социальных сетях, чтобы первыми узнавать о новостях</div>
		<div class="subscribe__row">
			<a href="#" class="subscribe__link">
				<img src="./assets/images/pages/news/telegram.svg" alt="" />
			</a>
			<a href="#" class="subscribe__link">
				<img src="./assets/images/pages/news/whatsapp.svg" alt="" />
			</a>
			<a href="#" class="subscribe__link">
				<img src="./assets/images/pages/news/instagram.svg" alt="" />
			</a>
			<a href="#" class="subscribe__link">
				<img src="./assets/images/pages/news/be.svg" alt="" />
			</a>
			<a href="#" class="subscribe__link">
				<img src="./assets/images/pages/news/facebook.svg" alt="" />
			</a>
			<a href="#" class="subscribe__link">
				<img src="./assets/images/pages/news/vk.svg" alt="" />
			</a>
			<a href="#" class="subscribe__link">
				<img src="./assets/images/pages/news/pinterest.svg" alt="" />
			</a>
			<a href="#" class="subscribe__link">
				<img src="./assets/images/pages/news/dzen.svg" alt="" />
			</a>
		</div>
	</div>
</section>
