<section class="support">
	<div class="container">
		<div class="support__content">
			<div class="support__main">
				<h2 class="support__main-title h3">PR поддержка дизайнеров</h2>
				<div class="support__main-short">
					<div class="support__main-img">
						<img src="./assets/images/pages/home/pr.png" alt="" />
					</div>
					<div class="support__text">
						<div class="support__text-desc">
							Мы осуществляем всестороннюю поддержку <br class="desk" />
							дизайнеров по <br class="tablet" />
							завершению проекта.
						</div>
						<include src="./components/ui/btn_primary.html" data-text='{".btn__text": {"text": "Работать с нами"}}'></include>
					</div>
				</div>
				<ul class="support__info">
					<li class="support__info-item">
						<span class="support__info-number">01</span>
						<span class="support__info-text">Фотосессия с интерьерным фотографом и стилистом</span>
					</li>
					<li class="support__info-item">
						<span class="support__info-number">02</span>
						<span class="support__info-text">Размещение фотосессии в дизайнерском глянце</span>
					</li>
					<li class="support__info-item">
						<span class="support__info-number">03</span>
						<span class="support__info-text">SMM продвижение проекта</span>
					</li>
				</ul>
			</div>

			<div class="support__content-img">
				<img src="./assets/images/pages/home/support.png" alt="" />
			</div>
		</div>
	</div>
</section>
