<section class="theses">
	<div class="container">
		<div class="theses__inner">
			<h2 class="theses__title h3">тезисный текстовый блок</h2>
			<div class="theses__content-wrapper">
				<div class="theses__img-box">
					<img src="./assets/images/pages/to-customers/theses.webp" alt="" />
				</div>
				<div class="theses__content-box">
					<h5 class="theses__content-title">Лаконичное и свободное пространство для жизни</h5>
					<div class="theses__content-text-box">
						<p class="theses__content-text">Основной концепцией интерьера стало свободное, перетекающее пространство, максимально отвечающее потребностям наших клиентов.</p>
						<p class="theses__content-text">Отделки и текстуры переходят из одного помещения в другое, создавая ощущение открытости и простора. В зоне прихожей разместились шкафы и системы хранения.</p>
					</div>
					<div class="theses__content-link-box">
						<p class="theses__content-link-title">Журнал публикации проекта:</p>
						<a href="https://store.houses.ru/selections/143/" class="theses__content-link">https://store.houses.ru/selections/143/</a>
					</div>
					<div class="theses__content-list-box">
                        <p class="theses__content-list-title">Основная информация о проекте:</p>
						<ul class="theses__content-list">
                            <li class="theses__item">
                                <span class="theses__item-number text-20-r">01</span>
                                <span class="theses__item-text">Общая стоимость проекта: по запросу</span>
                            </li>
                            <li class="theses__item">
                                <span class="theses__item-number text-20-r">02</span>
                                <span class="theses__item-text">Город: Москва</span>
                            </li>
                            <li class="theses__item">
                                <span class="theses__item-number text-20-r">03</span>
                                <span class="theses__item-text">Используемые материалы: Дерево (шпон), ткань, пластик, стекло</span>
                            </li>
                            <li class="theses__item">
                                <span class="theses__item-number text-20-r">04</span>
                                <span class="theses__item-text">Год реализации проекта: 2022</span>
                            </li>
                            <li class="theses__item">
                                <span class="theses__item-number text-20-r">05</span>
                                <span class="theses__item-text">Площадь помещения: 40 м2</span>
                            </li>
                        </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
