<section class="to-customers-banner">
	<div class="container">
		<div class="to-customers-banner__inner">
			<div class="to-customers-banner__title-box">
				<h1 class="to-customers-banner__title h1">Заказчикам</h1>
				<div class="to-customers-banner__text-box">
					<p class="to-customers-banner__text">Наша философия — мебель как искусство, где каждый новый заказ — отдельный неповторимый проект со своей историей, шедевр, созданный лучшими специалистами уникально для своего заказчика, учитывая его анатомические особенности, увлечения и образ жизни.</p>

					<button data-popup="#popup__call" class="to-customers-banner__btn btn btn__primary">
						<span class="btn__text">Оставить заявку</span>
						<img src="./assets/images/icons/arrow.svg" alt="" />
					</button>
				</div>
			</div>
            <div class="to-customers-banner__swiper-box">
                <div class="to-customers-banner__swiper swiper">
                    <div class="to-customers-banner__swiper-wrapper swiper-wrapper">
                        <div class="to-customers-banner__swiper-slide swiper-slide">
                            <div class="to-customers-banner__swiper-slide-inner">
                                <img src="./assets/images/pages/to-customers/to-customers-banner-1.webp" alt="">
                            </div>
                        </div>
                        <div class="to-customers-banner__swiper-slide swiper-slide">
                            <div class="to-customers-banner__swiper-slide-inner">
                                <img src="./assets/images/pages/to-customers/to-customers-banner-2.webp" alt="">
                            </div>
                        </div>
                        <div class="to-customers-banner__swiper-slide swiper-slide">
                            <div class="to-customers-banner__swiper-slide-inner">
                                <img src="./assets/images/pages/to-customers/to-customers-banner-3.webp" alt="">
                            </div>
                        </div>
                        <div class="to-customers-banner__swiper-slide swiper-slide">
                            <div class="to-customers-banner__swiper-slide-inner">
                                <img src="./assets/images/pages/to-customers/to-customers-banner-4.webp" alt="">
                            </div>
                        </div>
                        <div class="to-customers-banner__swiper-slide swiper-slide">
                            <div class="to-customers-banner__swiper-slide-inner">
                                <img src="./assets/images/pages/to-customers/to-customers-banner-5.webp" alt="">
                            </div>
                        </div>
                        <div class="to-customers-banner__swiper-slide swiper-slide">
                            <div class="to-customers-banner__swiper-slide-inner">
                                <img src="./assets/images/pages/to-customers/to-customers-banner-1.webp" alt="">
                            </div>
                        </div>
                        <div class="to-customers-banner__swiper-slide swiper-slide">
                            <div class="to-customers-banner__swiper-slide-inner">
                                <img src="./assets/images/pages/to-customers/to-customers-banner-2.webp" alt="">
                            </div>
                        </div>
                        <div class="to-customers-banner__swiper-slide swiper-slide">
                            <div class="to-customers-banner__swiper-slide-inner">
                                <img src="./assets/images/pages/to-customers/to-customers-banner-3.webp" alt="">
                            </div>
                        </div>
                        <div class="to-customers-banner__swiper-slide swiper-slide">
                            <div class="to-customers-banner__swiper-slide-inner">
                                <img src="./assets/images/pages/to-customers/to-customers-banner-4.webp" alt="">
                            </div>
                        </div>
                        <div class="to-customers-banner__swiper-slide swiper-slide">
                            <div class="to-customers-banner__swiper-slide-inner">
                                <img src="./assets/images/pages/to-customers/to-customers-banner-5.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>
