.h1 {
	font-family: 'Roboto';
	font-size: 12rem;
	font-style: normal;
	font-weight: 400;
}
.h2 {
	font-family: 'Roboto';
	font-size: 8rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.h3 {
	font-family: 'Roboto';
	font-size: 6rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-transform: uppercase;
	// letter-spacing: 0.384rem;
}
.h4 {
	font-size: 4rem;
}
.h5 {
	font-size: 3.6rem;
	letter-spacing: 0.06rem;
	font-weight: 400;
}
.text-20-r {
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
}
.text-18-r {
	font-size: 1.8rem;
}
.text-16 {
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2rem; /* 125% */
}
.btn {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 3.8rem;
	padding: 1.6rem 1.6rem 1.6rem 4rem;
	img {
		width: 8.6rem;
		height: 6.8rem;
	}
	&__primary {
		border-radius: 10rem;
		background-color: #48413e;
	}
	&__text {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 2rem;
		line-height: 1.4;
		letter-spacing: 0.06rem;
		color: var(--white);
	}
	&__secondary {
		border-radius: 10rem;
		background-image: url('./assets/images/ui/btn_bg.png');
		background-size: 100% 100%;
	}
	&__tel {
		height: fit-content;
		display: flex;
		align-items: center;
		gap: 1.4rem;
		padding-bottom: 0.8rem;
		border-bottom: 1px solid #fff5f0;
		img {
			width: 1.2rem;
			height: 1.2rem;
		}
	}
	&__play {
		padding: 2.2rem;
		border-radius: 50%;
		backdrop-filter: blur(4.857143402099609px);
		background: rgba(255, 255, 255, 0.4);
		img {
			width: 2.4rem;
			height: 2.4rem;
		}
		&.btn-play {
			display: none;
			position: absolute;
			top: 48%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
			&.play {
				display: flex;
			}
			&.pause {
				display: none;
			}
		}
	}
	&_top {
		position: fixed;
		bottom: 12rem;
		right: 6rem;
		width: 6rem;
		height: 6rem;
		display: none;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		border: 2px solid $orange;
		img {
			width: 3rem;
			height: 3.2rem;
		}
	}
}

.navigation {
	display: flex;
	gap: 2rem;
	&-prev,
	&-next {
		padding: 2.25rem 2.4rem;
		border: 1px solid #fff;
		border-radius: 10rem;
		img {
			width: 2.8rem;
			height: 0.8rem;
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	gap: 4.2rem;
	font-weight: 400;
	font-size: 3.2rem;
	letter-spacing: 0.1rem;
	color: #fff;
}
.tablet {
	display: none;
}
.desk {
	display: block;
}
@media (max-width: 48em) {
	.h3 {
		font-size: 9.2rem;
	}
	.h5 {
		font-size: 5.6rem;
	}
	.btn {
		padding: 3.2rem 3.2rem 3.2rem 8rem;
		img {
			width: 17.2rem;
			height: 13.6rem;
		}
		&__text {
			font-size: 4rem;
		}
		&__secondary {
		}
		&__play {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 13.6rem;
			height: 13.6rem;

			img {
				width: 4.8rem;
				height: 4.8rem;
			}
		}
		// &_top {
		// 	position: fixed;
		// 	bottom: 12rem;
		// 	right: 6rem;
		// 	width: 6rem;
		// 	height: 6rem;
		// 	display: none;
		// 	align-items: center;
		// 	justify-content: center;
		// 	border-radius: 100%;
		// 	border: 2px solid $orange;
		// 	img {
		// 		width: 3rem;
		// 		height: 3.2rem;
		// 	}
		// }
	}
	.navigation {
		gap: 4rem;

		&-next,
		&-prev {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 15.2rem;
			height: 10.4rem;
			border-radius: 20rem;
			img {
				width: 5.6rem;
				height: 1.6rem;
			}
		}
	}
	.tablet {
		display: block;
	}
	.desk {
		display: none;
	}
}

@media (max-width: 24em) {
	.tablet {
		display: none;
	}
	.h1 {
		font-size: 6.4rem;
	}
	.h2 {
		font-family: 'Roboto';
		font-size: 5.2rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.h3 {
		font-size: 5.2rem;
		letter-spacing: normal;
	}
	.text-20-r {
		font-size: 3rem;
		line-height: 130%; /* 120% */
	}
	.text-16 {
		font-size: 3rem;
		letter-spacing: normal;
		letter-spacing: 0.12rem;
	}
	.btn {
		padding: 1.6rem 1.6rem 1.6rem 4.8rem;
		img {
			width: 11.2rem;
			height: 8.8rem;
		}
		&__text {
			font-weight: 400;
			font-size: 3.6rem;
			letter-spacing: 0.06rem;
		}
		&__primary {
			width: 100%;
			gap: 0;
			justify-content: space-between;
		}
		&__secondary {
			width: 100%;
			gap: 0;
			justify-content: space-between;
		}
	}

	.swiper-pagination-bullet {
		width: 1.6rem;
		height: 1.6rem;
		background-color: rgba(255, 255, 255, 0.6);

		&.swiper-pagination-bullet-active {
			background-color: #fff;
		}
	}
}
